Pandas exercises from https://www.machinelearningplus.com/python/101-pandas-exercises-python/.

exercise 1

In [1]:
import numpy as np
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

0.24.2
{'system': {'commit': None}, 'dependencies': {'pandas': '0.24.2', 'pytest': '4.0.2', 'pip': '19.1.1', 'setuptools': '39.0.1', 'Cython': None, 'numpy': '1.16.0', 'scipy': None, 'pyarrow': None, 'xarray': None, 'IPython': '7.3.0', 'sphinx': None, 'patsy': None, 'dateutil': '2.7.5', 'pytz': '2018.9', 'blosc': None, 'bottleneck': None, 'tables': None, 'numexpr': None, 'feather': None, 'matplotlib': '3.0.3', 'openpyxl': None, 'xlrd': None, 'xlwt': None, 'xlsxwriter': None, 'lxml.etree': '4.4.2', 'bs4': None, 'html5lib': '1.0.1', 'sqlalchemy': None, 'pymysql': None, 'psycopg2': None, 'jinja2': '2.10', 's3fs': None, 'fastparquet': None, 'pandas_gbq': None, 'pandas_datareader': None, 'gcsfs': None}}
None

additional information about pandas

In [2]:
print(pd.__dir__)
pd.__builtins__

<built-in function __dir__>

{'__name__': 'builtins',
 '__doc__': "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.",
 '__package__': '',
 '__loader__': _frozen_importlib.BuiltinImporter,
 '__spec__': ModuleSpec(name='builtins', loader=<class '_frozen_importlib.BuiltinImporter'>),
 '__build_class__': <function __build_class__>,
 '__import__': <function __import__>,
 'abs': <function abs(x, /)>,
 'all': <function all(iterable, /)>,
 'any': <function any(iterable, /)>,
 'ascii': <function ascii(obj, /)>,
 'bin': <function bin(number, /)>,
 'breakpoint': <function breakpoint>,
 'callable': <function callable(obj, /)>,
 'chr': <function chr(i, /)>,
 'compile': <function compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1)>,
 'delattr': <function delattr(obj, name, /)>,
 'dir': <function dir>,
 'divmod': <function divmod(x, y, /)>,
 'eval': <function eval(source, globals=None, locals=None, /)>,
 'exec': <function exec(source, globals=None, locals=None, /)>,
 'format': <function format(value, format_spec='', /)>,
 'getattr': <function getattr>,
 'globals': <function globals()>,
 'hasattr': <function hasattr(obj, name, /)>,
 'hash': <function hash(obj, /)>,
 'hex': <function hex(number, /)>,
 'id': <function id(obj, /)>,
 'input': <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x13d4642b0>>,
 'isinstance': <function isinstance(obj, class_or_tuple, /)>,
 'issubclass': <function issubclass(cls, class_or_tuple, /)>,
 'iter': <function iter>,
 'len': <function len(obj, /)>,
 'locals': <function locals()>,
 'max': <function max>,
 'min': <function min>,
 'next': <function next>,
 'oct': <function oct(number, /)>,
 'ord': <function ord(c, /)>,
 'pow': <function pow(x, y, z=None, /)>,
 'print': <function print>,
 'repr': <function repr(obj, /)>,
 'round': <function round(number, ndigits=None)>,
 'setattr': <function setattr(obj, name, value, /)>,
 'sorted': <function sorted(iterable, /, *, key=None, reverse=False)>,
 'sum': <function sum(iterable, start=0, /)>,
 'vars': <function vars>,
 'None': None,
 'Ellipsis': Ellipsis,
 'NotImplemented': NotImplemented,
 'False': False,
 'True': True,
 'bool': bool,
 'memoryview': memoryview,
 'bytearray': bytearray,
 'bytes': bytes,
 'classmethod': classmethod,
 'complex': complex,
 'dict': dict,
 'enumerate': enumerate,
 'filter': filter,
 'float': float,
 'frozenset': frozenset,
 'property': property,
 'int': int,
 'list': list,
 'map': map,
 'object': object,
 'range': range,
 'reversed': reversed,
 'set': set,
 'slice': slice,
 'staticmethod': staticmethod,
 'str': str,
 'super': super,
 'tuple': tuple,
 'type': type,
 'zip': zip,
 '__debug__': True,
 'BaseException': BaseException,
 'Exception': Exception,
 'TypeError': TypeError,
 'StopAsyncIteration': StopAsyncIteration,
 'StopIteration': StopIteration,
 'GeneratorExit': GeneratorExit,
 'SystemExit': SystemExit,
 'KeyboardInterrupt': KeyboardInterrupt,
 'ImportError': ImportError,
 'ModuleNotFoundError': ModuleNotFoundError,
 'OSError': OSError,
 'EnvironmentError': OSError,
 'IOError': OSError,
 'EOFError': EOFError,
 'RuntimeError': RuntimeError,
 'RecursionError': RecursionError,
 'NotImplementedError': NotImplementedError,
 'NameError': NameError,
 'UnboundLocalError': UnboundLocalError,
 'AttributeError': AttributeError,
 'SyntaxError': SyntaxError,
 'IndentationError': IndentationError,
 'TabError': TabError,
 'LookupError': LookupError,
 'IndexError': IndexError,
 'KeyError': KeyError,
 'ValueError': ValueError,
 'UnicodeError': UnicodeError,
 'UnicodeEncodeError': UnicodeEncodeError,
 'UnicodeDecodeError': UnicodeDecodeError,
 'UnicodeTranslateError': UnicodeTranslateError,
 'AssertionError': AssertionError,
 'ArithmeticError': ArithmeticError,
 'FloatingPointError': FloatingPointError,
 'OverflowError': OverflowError,
 'ZeroDivisionError': ZeroDivisionError,
 'SystemError': SystemError,
 'ReferenceError': ReferenceError,
 'MemoryError': MemoryError,
 'BufferError': BufferError,
 'Warning': Warning,
 'UserWarning': UserWarning,
 'DeprecationWarning': DeprecationWarning,
 'PendingDeprecationWarning': PendingDeprecationWarning,
 'SyntaxWarning': SyntaxWarning,
 'RuntimeWarning': RuntimeWarning,
 'FutureWarning': FutureWarning,
 'ImportWarning': ImportWarning,
 'UnicodeWarning': UnicodeWarning,
 'BytesWarning': BytesWarning,
 'ResourceWarning': ResourceWarning,
 'ConnectionError': ConnectionError,
 'BlockingIOError': BlockingIOError,
 'BrokenPipeError': BrokenPipeError,
 'ChildProcessError': ChildProcessError,
 'ConnectionAbortedError': ConnectionAbortedError,
 'ConnectionRefusedError': ConnectionRefusedError,
 'ConnectionResetError': ConnectionResetError,
 'FileExistsError': FileExistsError,
 'FileNotFoundError': FileNotFoundError,
 'IsADirectoryError': IsADirectoryError,
 'NotADirectoryError': NotADirectoryError,
 'InterruptedError': InterruptedError,
 'PermissionError': PermissionError,
 'ProcessLookupError': ProcessLookupError,
 'TimeoutError': TimeoutError,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 'copyright': Copyright (c) 2001-2018 Python Software Foundation.
 All Rights Reserved.

 Copyright (c) 2000 BeOpen.com.
 All Rights Reserved.

 Copyright (c) 1995-2001 Corporation for National Research Initiatives.
 All Rights Reserved.

 Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
 All Rights Reserved.,
 'credits':     Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
     for supporting Python development.  See www.python.org for more information.,
 'license': See https://www.python.org/psf/license/,
 'help': Type help() for interactive help, or help(object) for help about object.,
 '__IPYTHON__': True,
 'display': <function IPython.core.display.display(*objs, include=None, exclude=None, metadata=None, transient=None, display_id=None, **kwargs)>,
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x139efeeb8>>}

## Exercise 2

In [3]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
print(mylist)
print(myarr)
print(mydict)

['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]
{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [4]:
# Solution

ser_mylist=pd.Series(mylist)
print(ser_mylist.tail(2))
ser_myarr=pd.Series(myarr)
print(ser_myarr.head(2))
ser_mydict=pd.Series(mydict)
print(ser_mydict.tail(2))

24    y
25    z
dtype: object
0    0
1    1
dtype: int64
y    24
z    25
dtype: int64

## Exercise 3
Create a dataframe and convert the index of the series into a column of the dataframe

In [5]:
df_mydict = ser_mydict.to_frame().reset_index()
print(df_mydict.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

## Exercise 4
How to combine many series into a dataframe
We use ser_mylist and ser_myarr

In [6]:
df_solution1 = pd.concat([ser_mylist, ser_myarr], axis = 1)
print(df_solution1.head())
df_solution2 = pd.DataFrame({'col1': ser_mylist, 'col2': ser_myarr})
print(df_solution2.head())

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4
  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## Exercise 5
how to give the series a name

In [7]:
ser_mylist.name = 'alphabets'
print(ser_mylist.head())

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
ser.name = 'alphabets2'
print(ser.head())

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object
0    a
1    b
2    c
3    d
4    e
Name: alphabets2, dtype: object

## Exercise 6
How to remove items in series A which are present in series B

In [8]:
serA = pd.Series([1, 2, 3, 4, 5])
serB = pd.Series([4, 5, 6, 7, 8])
x= serA[-serA.isin(serB)]
print(serA)
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
dtype: int64

## Exercise 7
How to get items not common in both sets

In [9]:
ser_union = pd.Series(np.union1d(serA, serB))
ser_intersect = pd.Series(np.intersect1d(serA, serB))

result = ser_union[-ser_union.isin(ser_intersect)]
result

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## Exercise 8
Get the 25th, median, 75th percentile, as well as minimum and maximum of ser

In [10]:
ser = pd.Series(np.random.normal(10, 5, 25))
print(ser)

0      5.322816
1     11.565561
2     11.898203
3     11.708545
4     10.190359
5     13.160689
6     19.376664
7      9.535298
8     12.166235
9     10.595695
10     7.466854
11     9.861527
12     8.375166
13     6.228347
14     6.516103
15    21.800395
16    14.481154
17    10.754724
18     1.394127
19     6.538306
20    10.894629
21     6.684050
22    11.521724
23     1.835857
24    10.199012
dtype: float64

In [11]:
print(np.percentile(ser, q=[0, 25, 50, 75 ,100]))

[ 1.3941274   6.68405039 10.19901213 11.70854499 21.80039506]

## Exercise 9
How to get the frequency count for umique items in a series

In [12]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size = 30)))
ser

0     g
1     b
2     g
3     a
4     h
5     a
6     f
7     e
8     c
9     e
10    g
11    f
12    a
13    h
14    h
15    a
16    c
17    c
18    e
19    d
20    h
21    d
22    c
23    e
24    e
25    a
26    a
27    d
28    g
29    e
dtype: object

## exercise 10
exercise 10 + make the value count a dataframe

In [13]:
frequency = ser.value_counts()
print(frequency)

e    6
a    6
h    4
g    4
c    4
d    3
f    2
b    1
dtype: int64

In [14]:
pd.Series(frequency).to_frame().reset_index()

  index  0
0     e  6
1     a  6
2     h  4
3     g  4
4     c  4
5     d  3
6     f  2
7     b  1

In [15]:
pd.Series(ser.value_counts()).to_frame().reset_index()

  index  0
0     e  6
1     a  6
2     h  4
3     g  4
4     c  4
5     d  3
6     f  2
7     b  1

## Exercise 11
How to create 10 equally sized groups

In [16]:
ser_10 = pd.Series(np.random.random(20))
print(ser_10)

0     0.998586
1     0.601933
2     0.852573
3     0.651427
4     0.598275
5     0.502352
6     0.419051
7     0.254688
8     0.788486
9     0.002250
10    0.501569
11    0.610106
12    0.514840
13    0.625080
14    0.042094
15    0.632990
16    0.457220
17    0.619874
18    0.939583
19    0.926229
dtype: float64

In [17]:
group_of_ten = pd.qcut(ser_10, q = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1],
        labels = ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th','10th'])
group_of_ten.head(7)

0    10th
1     5th
2     9th
3     8th
4     5th
5     4th
6     2nd
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [18]:
group_of_ten.value_counts()

10th    2
9th     2
8th     2
7th     2
6th     2
5th     2
4th     2
3rd     2
2nd     2
1st     2
dtype: int64

## Exercise 12
how to convert a np array to a dataframe of angiven shape

In [19]:
ser_35 = pd.Series(np.random.randint(1, 10, 35))
print(ser_35)

0     8
1     5
2     2
3     2
4     2
5     5
6     6
7     8
8     5
9     8
10    8
11    2
12    6
13    4
14    6
15    9
16    4
17    4
18    8
19    6
20    9
21    7
22    9
23    8
24    2
25    4
26    6
27    1
28    1
29    8
30    7
31    2
32    6
33    8
34    3
dtype: int64

In [20]:
df_ser7x5 = pd.DataFrame(ser_35.values.reshape(7, 5))

In [21]:
print(df_ser7x5)

   0  1  2  3  4
0  8  5  2  2  2
1  5  6  8  5  8
2  8  2  6  4  6
3  9  4  4  8  6
4  9  7  9  8  2
5  4  6  1  1  8
6  7  2  6  8  3

## Exercise 13
find positions in series. in this case find the positions of numbers which are multiples of 3.

In [22]:
ser_m3 = pd.Series(np.random.randint(1,10,7))
print(ser_m3)

0    1
1    8
2    4
3    4
4    4
5    7
6    3
dtype: int64

In [23]:
positions = np.argwhere(ser_m3 % 3==0)
print(positions)

[[6]]

/var/mobile/Containers/Data/Application/289044AF-433E-48DD-BE47-157D15007116/Library/lib/python3.7/site-packages/numpy-1.16.0-py3.7-macosx-10.9-x86_64.egg/numpy/core/fromnumeric.py:56: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return getattr(obj, method)(*args, **kwds)

## Exercise 14
how to extract values at a certain position from a series

In [24]:
ser_mylist

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

In [25]:
pos = [0, 4, 8, 14, 20]
ser_mylist.take(pos)

0     a
4     d
8     i
14    o
20    u
Name: alphabets, dtype: object

## Exercise 15
How to stack two series vertically and horizontally

In [26]:
ser_1to5 = pd.Series(range(5))
ser_atoe = pd.Series(list("abcde"))

df_ser_horizontal = pd.concat([ser_1to5, ser_atoe], axis =1)
print(df_ser_horizontal)

ser_vertical = ser_1to5.append(ser_atoe).reset_index()
print(ser_vertical)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
   index  0
0      0  0
1      1  1
2      2  2
3      3  3
4      4  4
5      0  a
6      1  b
7      2  c
8      3  d
9      4  e

## Exercise 16
How to get the positions of items of series A in series B

In [27]:
ser1 = pd.Series([10, 9, 6, 5, 3, 11, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

print(ser1[0])
print(ser1[8])
print(ser2[3])

10
13
13

In [28]:
# i = ser2[3]
i = 13
print(type(i))
print(pd.Index(ser1).get_loc(13))

# for i in range(len(ser2)):
#     print(type(ser[i]))
#     print(pd.Index(ser1).get_loc(ser[i]))
#     # with this code python interpretes ser[i] as a string so it does not work

# for i in ser2:
#     print(type(i))
#     print(pd.Index(ser1).get_loc(i))
#     # does interprete i as integer, but still does not work!!!

<class 'int'>
8

In [29]:
# [pd.Index(ser1).get_loc(i) for i in ser2]

# positions1 = [pd.Index(ser1).get_loc(i) for i in ser2]
# print(positions1)

# positions2 = [np.where(i == ser1)[0].tolist()[0] for i in ser2]
# print(positions2)

# does not work at all

## Exercise 17
how to compute mean squared error
compute mean squared error of truth and pred series

In [30]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = 0

for i in range(10):
    mse += (truth[i] - pred[i]) ** 2
    
mse = mse / 10
print(mse)

0.3175211962743464

In [31]:
print(np.mean((truth - pred) ** 2))

0.31752119627434633

## Exercise 18
convert first character to upprtcase
3 different solutions

In [32]:
ser_char = pd.Series(["how", "to", "kick" , "ass?" ])

print(ser_char)

0     how
1      to
2    kick
3    ass?
dtype: object

In [33]:
ser_upper = pd.Series([i.title() for i in ser_char])

In [34]:
print(ser_upper)

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [35]:
ser_lower = ser_upper.map(lambda x: x.lower())
print(ser_lower)

0     how
1      to
2    kick
3    ass?
dtype: object

In [36]:
ser_up_again = ser_lower.map(lambda x: x[0].upper() + x[1:])
print(ser_up_again)

0     How
1      To
2    Kick
3    Ass?
dtype: object

## Exercise 19
calculate the length of each word

In [37]:
ser_length = pd.Series(["how", "to", "kick" , "ass?" ])

ser_len = ser_length.map(lambda x: len(x))
print(ser_len)

0    3
1    2
2    4
3    4
dtype: int64

## Exercise 20
compute difference of differences of a the numbers of a series

In [38]:
ser_orig = pd.Series([ 1, 3, 6, 10, 15, 21, 27, 35])

# ser_diff = pd.Series([ser_orig[i] - ser_orig[i-1] for i in len(ser_orig)])
# # does not work

# easier is
ser_diff = ser_orig.diff().tolist()
print(ser_diff)
ser_diff_diff = ser_orig.diff().diff().tolist()
print(ser_diff_diff)

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

## Exercise 21
make a time series out of a list if dates

In [39]:
ser_date = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
print(ser_date)

0         01 Jan 2010
1          02-02-2011
2            20120303
3          2013/04/04
4          2014-05-05
5    2015-06-06T12:20
dtype: object

In [40]:
ser_date64 = pd.to_datetime(ser_date)
print(ser_date64)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## Exercise 22

get the day of month, week of year, day of week

In [41]:
ser_dat2 = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil.parser import parse
ser_ts = ser_dat2.map(lambda x:parse(x))

print("Date", ser_ts.dt.day.tolist())

print("Week number", ser_ts.dt.weekofyear.tolist())

print("Day of year", ser_ts.dt.dayofyear.tolist())

print("Day of week", ser_ts.dt.weekday_name.tolist())

Date [1, 2, 3, 4, 5, 6]
Week number [53, 5, 9, 14, 19, 23]
Day of year [1, 33, 63, 94, 125, 157]
Day of week ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

## Exercise 23

How to convert year + month string to date which corresponds tonthe 4th of each month

In [42]:
ser_ym = pd.Series(['Jan 2018', 'Feb 2019', 'Mar 2020'])

# Solution2
ser_ymd = ser_ym.map(lambda x: '04 ' + x)
print(ser_ymd)

0    04 Jan 2018
1    04 Feb 2019
2    04 Mar 2020
dtype: object

In [43]:
# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser_ym.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

['2018-01-04', '2019-02-04', '2020-03-04']

## Exercise 24
how to filter words, that contain at least 2 vowles from a series

In [44]:
ser_fruits = pd.Series([ "Apple", "Orange", "Plumb", "Cherrie"]) 

from collections import Counter
ser_2v = ser_fruits.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')])>= 3)
print(ser_2v)

ser_fruits[ser_2v]

0    False
1     True
2    False
3     True
dtype: bool

1     Orange
3    Cherrie
dtype: object

## Exercise 25
show to filter out valid emails from a series?

In [45]:
mails = pd.Series(["buying books at amazon.com", "rameses@egpt.com", "matt@t.co", "narendra@modi.com"])
                   
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

# solution 1
# as a series of strings
import re

mask = mails.map(lambda x: bool(re.match(pattern, x)))
print(mask)
# print(mails[mask])

0    False
1     True
2     True
3     True
dtype: bool

# solution 2 
# as a series of of list

mails.str.findall(pattern, flags = re.IGNORECASE)

In [46]:
# Solution3
# as a list
[x[0] for x in [re.findall(pattern, email) for email in mails] if len(x) > 0]

['rameses@egpt.com', 'matt@t.co', 'narendra@modi.com']

## Exercise 26
how to get the mean of a series grouped by another series?

In [47]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'carrot', 'carrot', 'carrot', 'banana', 'carrot', 'banana', 'apple', 'carrot', 'apple']

In [48]:
# Solution

results1 = weights.groupby(fruit)
for i in results1:
    print(i)

('apple', 7     8.0
9    10.0
dtype: float64)
('banana', 4    5.0
6    7.0
dtype: float64)
('carrot', 0    1.0
1    2.0
2    3.0
3    4.0
5    6.0
8    9.0
dtype: float64)

In [49]:
results2 = results1.mean()
print(results2)

apple     9.000000
banana    6.000000
carrot    4.166667
dtype: float64

In [50]:
results3 = results1.count()
print(results3)

apple     2
banana    2
carrot    6
dtype: int64

## Exercise 27
Compute the euclidian distance between 2 series.

In [51]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [52]:
ser_distance = (p - q) **2
print(ser_distance)

0    81
1    49
2    25
3     9
4     1
5     1
6     9
7    25
8    49
9    81
dtype: int64

In [53]:
# Solution 1
distance1 = sum((p-q)**2)**.5
print(distance1)

18.16590212458495

In [54]:
# Solution 2
distance2 = np.linalg.norm(p-q)
print(distance2)

18.16590212458495

## Exercise 28
Finding all local maxima of a series.

In [55]:
ser_max = pd.Series([2, 19, 3, 4, 9, 10, 2, 7, 3])

dd = np.diff(np.sign(np.diff(ser_max)))
print(dd)
print(type(dd))

[-2  2  0  0 -2  2 -2]
<class 'numpy.ndarray'>

In [56]:
for i in enumerate(dd):
    print(i)

(0, -2)
(1, 2)
(2, 0)
(3, 0)
(4, -2)
(5, 2)
(6, -2)

In [57]:
peak_locs = np.where(dd == -2)[0] + 1
print(peak_locs)

[1 5 7]

## Exercise 29
How to replace missing spaces in a string with the least frequent character

In [58]:
my_str = 'dbc deb abed gade'

ser_my_str = pd.Series(list(my_str))

frequency = ser_my_str.value_counts()
print(frequency)

d    4
     3
b    3
e    3
a    2
g    1
c    1
dtype: int64

In [59]:
print(frequency.dropna().index[-1])

c

In [60]:
least_frequ = frequency.dropna().index[-1]

In [61]:
"".join(ser_my_str.replace(' ', least_frequ))

'dbccdebcabedcgade'

## Exercise 30
How to create a time series starting "2000-01-01" and 10 weekends (saturdays) after that having ranom numbers as values.

In [62]:
np.random.seed(42)
ser_time = pd.Series(np.random.randint(1, 10, 10), pd.date_range("2000-01-01", periods = 10, freq = "W-SAT"))
print(ser_time)

2000-01-01    7
2000-01-08    4
2000-01-15    8
2000-01-22    5
2000-01-29    7
2000-02-05    3
2000-02-12    7
2000-02-19    8
2000-02-26    5
2000-03-04    4
Freq: W-SAT, dtype: int64

## Exercise 30
How to fill intermittent time series with values of previous non-missing dates and all dates show up

In [63]:
ser_miss= pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser_miss)

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [64]:
ser_complete1 = ser_miss.resample('D').ffill()
print(ser_complete1)

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

In [65]:
ser_complete2 = ser_miss.resample('D').bfill()
print(ser_complete2)

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     NaN
2000-01-08     NaN
Freq: D, dtype: float64

In [66]:
ser_complete3 = ser_miss.resample('D').bfill().ffill()
print(ser_complete3)

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

##  Exercise 32
How to compute autocorrelations for the first 10 lages of the series. Find the largest correlation

In [67]:
np.random.seed(42)
ser_corr = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
print(ser_corr)

0      5.967142
1      0.617357
2      9.476885
3     19.230299
4      2.658466
5      3.658630
6     22.792128
7     15.674347
8      4.305256
9     15.425600
10     6.365823
11     7.342702
12    15.419623
13    -5.132802
14    -2.249178
15    10.377125
16     6.871689
17    21.142473
18     9.919759
19     5.876963
dtype: float64

In [68]:
autocorrelations = [ser_corr.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])

[-0.04, -0.36, 0.24, -0.23, -0.06, 0.1, -0.59, -0.13, 0.33, -0.03]

In [69]:
print('Lag having highest autocorrelation', np.argmax(np.abs(autocorrelations[1:]))+1)

Lag having highest autocorrelation 7

## Exercise 33
How to import only every n-th row from a csv to create a dataframe
Import only every 50th record from Boston housing dataset
### Observation 
After reading in the for loop from df, df is empty then. I have to load it again to use it in the second solution.
This is very strange. I did not expect this.

In [70]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
print(df)

<pandas.io.parsers.TextFileReader object at 0x13e537b00>

In [71]:
# Solution 1

df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0, :])
print(df2)

       age       b  chas      crim     dis  indus  lstat  medv    nox  \
0     65.2  396.90   0.0   0.00632  4.0900   2.31   4.98  24.0  0.538
50    45.7  395.56   0.0   0.08873  6.8147   5.64  13.45  19.7  0.439
100   79.9  394.76   0.0   0.14866  2.7778   8.56   9.42  27.5  0.520
150   97.3  372.80   0.0   1.65660  1.6180  19.58  14.10  21.5  0.871
200   13.9  384.30   0.0   0.01778  7.6534   1.47   4.45  32.9  0.403
250   13.0  396.28   0.0   0.14030  7.3967   5.86   5.90  24.4  0.431
300   47.4  390.86   0.0   0.04417  7.8278   2.24   6.07  24.8  0.400
350   44.4  396.90   0.0   0.06211  8.7921   1.25   5.98  22.9  0.429
400  100.0  396.90   0.0  25.04610  1.5888  18.10  26.77   5.6  0.693
450   92.6    0.32   0.0   6.71772  2.3236  18.10  17.44  13.4  0.713
500   79.7  396.90   0.0   0.22438  2.4982   9.69  14.33  16.8  0.585

     ptratio   rad     rm    tax    zn
0       15.3   1.0  6.575  296.0  18.0
50      16.8   4.0  5.963  243.0  21.0
100     20.9   5.0  6.727  384.0   0.0
150     14.7   5.0  6.122  403.0   0.0
200     17.0   3.0  7.135  402.0  95.0
250     19.1   7.0  6.487  330.0  22.0
300     14.8   5.0  6.871  358.0  70.0
350     19.7   1.0  6.490  335.0  40.0
400     20.2  24.0  5.987  666.0   0.0
450     20.2  24.0  6.749  666.0   0.0
500     19.2   6.0  6.027  391.0   0.0

In [72]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
i = 0
for chunk in df:
    if chunk is None:
        print(i, 'Chunk is empty') #, #chunk.iloc[0])
    else:
        print(i, chunk.iloc[1, :])
    i += 1

0 crim         0.02731
zn           0.00000
indus        7.07000
chas         0.00000
nox          0.46900
rm           6.42100
age         78.90000
dis          4.96710
rad          2.00000
tax        242.00000
ptratio     17.80000
b          396.90000
lstat        9.14000
medv        21.60000
Name: 1, dtype: float64
1 crim         0.04337
zn          21.00000
indus        5.64000
chas         0.00000
nox          0.43900
rm           6.11500
age         63.00000
dis          6.81470
rad          4.00000
tax        243.00000
ptratio     16.80000
b          393.97000
lstat        9.43000
medv        20.50000
Name: 51, dtype: float64
2 crim         0.11432
zn           0.00000
indus        8.56000
chas         0.00000
nox          0.52000
rm           6.78100
age         71.30000
dis          2.85610
rad          5.00000
tax        384.00000
ptratio     20.90000
b          395.58000
lstat        7.67000
medv        26.50000
Name: 101, dtype: float64
3 crim         1.49632
zn           0.00000
indus       19.58000
chas         0.00000
nox          0.87100
rm           5.40400
age        100.00000
dis          1.59160
rad          5.00000
tax        403.00000
ptratio     14.70000
b          341.60000
lstat       13.28000
medv        19.60000
Name: 151, dtype: float64
4 crim         0.03445
zn          82.50000
indus        2.03000
chas         0.00000
nox          0.41500
rm           6.16200
age         38.40000
dis          6.27000
rad          2.00000
tax        348.00000
ptratio     14.70000
b          393.77000
lstat        7.43000
medv        24.10000
Name: 201, dtype: float64
5 crim         0.21409
zn          22.00000
indus        5.86000
chas         0.00000
nox          0.43100
rm           6.43800
age          8.90000
dis          7.39670
rad          7.00000
tax        330.00000
ptratio     19.10000
b          377.07000
lstat        3.59000
medv        24.80000
Name: 251, dtype: float64
6 crim         0.03537
zn          34.00000
indus        6.09000
chas         0.00000
nox          0.43300
rm           6.59000
age         40.40000
dis          5.49170
rad          7.00000
tax        329.00000
ptratio     16.10000
b          395.75000
lstat        9.50000
medv        22.00000
Name: 301, dtype: float64
7 crim         0.0795
zn          60.0000
indus        1.6900
chas         0.0000
nox          0.4110
rm           6.5790
age         35.9000
dis         10.7103
rad          4.0000
tax        411.0000
ptratio     18.3000
b          370.7800
lstat        5.4900
medv        24.1000
Name: 351, dtype: float64
8 crim        14.2362
zn           0.0000
indus       18.1000
chas         0.0000
nox          0.6930
rm           6.3430
age        100.0000
dis          1.5741
rad         24.0000
tax        666.0000
ptratio     20.2000
b          396.9000
lstat       20.3200
medv         7.2000
Name: 401, dtype: float64
9 crim         5.44114
zn           0.00000
indus       18.10000
chas         0.00000
nox          0.71300
rm           6.65500
age         98.20000
dis          2.35520
rad         24.00000
tax        666.00000
ptratio     20.20000
b          355.29000
lstat       17.73000
medv        15.20000
Name: 451, dtype: float64
10 crim         0.06263
zn           0.00000
indus       11.93000
chas         0.00000
nox          0.57300
rm           6.59300
age         69.10000
dis          2.47860
rad          1.00000
tax        273.00000
ptratio     21.00000
b          391.99000
lstat        9.67000
medv        22.40000
Name: 501, dtype: float64

In [73]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
print(df)

df2_1 = pd.concat([chunk.iloc[0, :] for chunk in df], axis = 1)

<pandas.io.parsers.TextFileReader object at 0x13e537eb8>

In [74]:
print(df2_1)

               0          50         100       150        200       250  \
crim       0.00632    0.08873    0.14866    1.6566    0.01778    0.1403
zn        18.00000   21.00000    0.00000    0.0000   95.00000   22.0000
indus      2.31000    5.64000    8.56000   19.5800    1.47000    5.8600
chas       0.00000    0.00000    0.00000    0.0000    0.00000    0.0000
nox        0.53800    0.43900    0.52000    0.8710    0.40300    0.4310
rm         6.57500    5.96300    6.72700    6.1220    7.13500    6.4870
age       65.20000   45.70000   79.90000   97.3000   13.90000   13.0000
dis        4.09000    6.81470    2.77780    1.6180    7.65340    7.3967
rad        1.00000    4.00000    5.00000    5.0000    3.00000    7.0000
tax      296.00000  243.00000  384.00000  403.0000  402.00000  330.0000
ptratio   15.30000   16.80000   20.90000   14.7000   17.00000   19.1000
b        396.90000  395.56000  394.76000  372.8000  384.30000  396.2800
lstat      4.98000   13.45000    9.42000   14.1000    4.45000    5.9000
medv      24.00000   19.70000   27.50000   21.5000   32.90000   24.4000

               300        350       400        450        500
crim       0.04417    0.06211   25.0461    6.71772    0.22438
zn        70.00000   40.00000    0.0000    0.00000    0.00000
indus      2.24000    1.25000   18.1000   18.10000    9.69000
chas       0.00000    0.00000    0.0000    0.00000    0.00000
nox        0.40000    0.42900    0.6930    0.71300    0.58500
rm         6.87100    6.49000    5.9870    6.74900    6.02700
age       47.40000   44.40000  100.0000   92.60000   79.70000
dis        7.82780    8.79210    1.5888    2.32360    2.49820
rad        5.00000    1.00000   24.0000   24.00000    6.00000
tax      358.00000  335.00000  666.0000  666.00000  391.00000
ptratio   14.80000   19.70000   20.2000   20.20000   19.20000
b        390.86000  396.90000  396.9000    0.32000  396.90000
lstat      6.07000    5.98000   26.7700   17.44000   14.33000
medv      24.80000   22.90000    5.6000   13.40000   16.80000

In [75]:
df2_1 = df2_1.transpose()
print(df2_1)

         crim    zn  indus  chas    nox     rm    age     dis   rad    tax  \
0     0.00632  18.0   2.31   0.0  0.538  6.575   65.2  4.0900   1.0  296.0
50    0.08873  21.0   5.64   0.0  0.439  5.963   45.7  6.8147   4.0  243.0
100   0.14866   0.0   8.56   0.0  0.520  6.727   79.9  2.7778   5.0  384.0
150   1.65660   0.0  19.58   0.0  0.871  6.122   97.3  1.6180   5.0  403.0
200   0.01778  95.0   1.47   0.0  0.403  7.135   13.9  7.6534   3.0  402.0
250   0.14030  22.0   5.86   0.0  0.431  6.487   13.0  7.3967   7.0  330.0
300   0.04417  70.0   2.24   0.0  0.400  6.871   47.4  7.8278   5.0  358.0
350   0.06211  40.0   1.25   0.0  0.429  6.490   44.4  8.7921   1.0  335.0
400  25.04610   0.0  18.10   0.0  0.693  5.987  100.0  1.5888  24.0  666.0
450   6.71772   0.0  18.10   0.0  0.713  6.749   92.6  2.3236  24.0  666.0
500   0.22438   0.0   9.69   0.0  0.585  6.027   79.7  2.4982   6.0  391.0

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
50      16.8  395.56  13.45  19.7
100     20.9  394.76   9.42  27.5
150     14.7  372.80  14.10  21.5
200     17.0  384.30   4.45  32.9
250     19.1  396.28   5.90  24.4
300     14.8  390.86   6.07  24.8
350     19.7  396.90   5.98  22.9
400     20.2  396.90  26.77   5.6
450     20.2    0.32  17.44  13.4
500     19.2  396.90  14.33  16.8