Pandas exercises from https://www.machinelearningplus.com/python/101-pandas-exercises-python/.

exercise 1

In [1]:
import numpy as np
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

0.24.2
{'system': {'commit': None}, 'dependencies': {'pandas': '0.24.2', 'pytest': '4.0.2', 'pip': '19.1.1', 'setuptools': '39.0.1', 'Cython': None, 'numpy': '1.16.0', 'scipy': None, 'pyarrow': None, 'xarray': None, 'IPython': '7.3.0', 'sphinx': None, 'patsy': None, 'dateutil': '2.7.5', 'pytz': '2018.9', 'blosc': None, 'bottleneck': None, 'tables': None, 'numexpr': None, 'feather': None, 'matplotlib': '3.0.3', 'openpyxl': None, 'xlrd': None, 'xlwt': None, 'xlsxwriter': None, 'lxml.etree': '4.4.2', 'bs4': None, 'html5lib': '1.0.1', 'sqlalchemy': None, 'pymysql': None, 'psycopg2': None, 'jinja2': '2.10', 's3fs': None, 'fastparquet': None, 'pandas_gbq': None, 'pandas_datareader': None, 'gcsfs': None}}
None

additional information about pandas

In [2]:
print(pd.__dir__)
pd.__builtins__

<built-in function __dir__>

{'__name__': 'builtins',
 '__doc__': "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.",
 '__package__': '',
 '__loader__': _frozen_importlib.BuiltinImporter,
 '__spec__': ModuleSpec(name='builtins', loader=<class '_frozen_importlib.BuiltinImporter'>),
 '__build_class__': <function __build_class__>,
 '__import__': <function __import__>,
 'abs': <function abs(x, /)>,
 'all': <function all(iterable, /)>,
 'any': <function any(iterable, /)>,
 'ascii': <function ascii(obj, /)>,
 'bin': <function bin(number, /)>,
 'breakpoint': <function breakpoint>,
 'callable': <function callable(obj, /)>,
 'chr': <function chr(i, /)>,
 'compile': <function compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1)>,
 'delattr': <function delattr(obj, name, /)>,
 'dir': <function dir>,
 'divmod': <function divmod(x, y, /)>,
 'eval': <function eval(source, globals=None, locals=None, /)>,
 'exec': <function exec(source, globals=None, locals=None, /)>,
 'format': <function format(value, format_spec='', /)>,
 'getattr': <function getattr>,
 'globals': <function globals()>,
 'hasattr': <function hasattr(obj, name, /)>,
 'hash': <function hash(obj, /)>,
 'hex': <function hex(number, /)>,
 'id': <function id(obj, /)>,
 'input': <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x117e56b38>>,
 'isinstance': <function isinstance(obj, class_or_tuple, /)>,
 'issubclass': <function issubclass(cls, class_or_tuple, /)>,
 'iter': <function iter>,
 'len': <function len(obj, /)>,
 'locals': <function locals()>,
 'max': <function max>,
 'min': <function min>,
 'next': <function next>,
 'oct': <function oct(number, /)>,
 'ord': <function ord(c, /)>,
 'pow': <function pow(x, y, z=None, /)>,
 'print': <function print>,
 'repr': <function repr(obj, /)>,
 'round': <function round(number, ndigits=None)>,
 'setattr': <function setattr(obj, name, value, /)>,
 'sorted': <function sorted(iterable, /, *, key=None, reverse=False)>,
 'sum': <function sum(iterable, start=0, /)>,
 'vars': <function vars>,
 'None': None,
 'Ellipsis': Ellipsis,
 'NotImplemented': NotImplemented,
 'False': False,
 'True': True,
 'bool': bool,
 'memoryview': memoryview,
 'bytearray': bytearray,
 'bytes': bytes,
 'classmethod': classmethod,
 'complex': complex,
 'dict': dict,
 'enumerate': enumerate,
 'filter': filter,
 'float': float,
 'frozenset': frozenset,
 'property': property,
 'int': int,
 'list': list,
 'map': map,
 'object': object,
 'range': range,
 'reversed': reversed,
 'set': set,
 'slice': slice,
 'staticmethod': staticmethod,
 'str': str,
 'super': super,
 'tuple': tuple,
 'type': type,
 'zip': zip,
 '__debug__': True,
 'BaseException': BaseException,
 'Exception': Exception,
 'TypeError': TypeError,
 'StopAsyncIteration': StopAsyncIteration,
 'StopIteration': StopIteration,
 'GeneratorExit': GeneratorExit,
 'SystemExit': SystemExit,
 'KeyboardInterrupt': KeyboardInterrupt,
 'ImportError': ImportError,
 'ModuleNotFoundError': ModuleNotFoundError,
 'OSError': OSError,
 'EnvironmentError': OSError,
 'IOError': OSError,
 'EOFError': EOFError,
 'RuntimeError': RuntimeError,
 'RecursionError': RecursionError,
 'NotImplementedError': NotImplementedError,
 'NameError': NameError,
 'UnboundLocalError': UnboundLocalError,
 'AttributeError': AttributeError,
 'SyntaxError': SyntaxError,
 'IndentationError': IndentationError,
 'TabError': TabError,
 'LookupError': LookupError,
 'IndexError': IndexError,
 'KeyError': KeyError,
 'ValueError': ValueError,
 'UnicodeError': UnicodeError,
 'UnicodeEncodeError': UnicodeEncodeError,
 'UnicodeDecodeError': UnicodeDecodeError,
 'UnicodeTranslateError': UnicodeTranslateError,
 'AssertionError': AssertionError,
 'ArithmeticError': ArithmeticError,
 'FloatingPointError': FloatingPointError,
 'OverflowError': OverflowError,
 'ZeroDivisionError': ZeroDivisionError,
 'SystemError': SystemError,
 'ReferenceError': ReferenceError,
 'MemoryError': MemoryError,
 'BufferError': BufferError,
 'Warning': Warning,
 'UserWarning': UserWarning,
 'DeprecationWarning': DeprecationWarning,
 'PendingDeprecationWarning': PendingDeprecationWarning,
 'SyntaxWarning': SyntaxWarning,
 'RuntimeWarning': RuntimeWarning,
 'FutureWarning': FutureWarning,
 'ImportWarning': ImportWarning,
 'UnicodeWarning': UnicodeWarning,
 'BytesWarning': BytesWarning,
 'ResourceWarning': ResourceWarning,
 'ConnectionError': ConnectionError,
 'BlockingIOError': BlockingIOError,
 'BrokenPipeError': BrokenPipeError,
 'ChildProcessError': ChildProcessError,
 'ConnectionAbortedError': ConnectionAbortedError,
 'ConnectionRefusedError': ConnectionRefusedError,
 'ConnectionResetError': ConnectionResetError,
 'FileExistsError': FileExistsError,
 'FileNotFoundError': FileNotFoundError,
 'IsADirectoryError': IsADirectoryError,
 'NotADirectoryError': NotADirectoryError,
 'InterruptedError': InterruptedError,
 'PermissionError': PermissionError,
 'ProcessLookupError': ProcessLookupError,
 'TimeoutError': TimeoutError,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 'copyright': Copyright (c) 2001-2018 Python Software Foundation.
 All Rights Reserved.

 Copyright (c) 2000 BeOpen.com.
 All Rights Reserved.

 Copyright (c) 1995-2001 Corporation for National Research Initiatives.
 All Rights Reserved.

 Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
 All Rights Reserved.,
 'credits':     Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
     for supporting Python development.  See www.python.org for more information.,
 'license': See https://www.python.org/psf/license/,
 'help': Type help() for interactive help, or help(object) for help about object.,
 '__IPYTHON__': True,
 'display': <function IPython.core.display.display(*objs, include=None, exclude=None, metadata=None, transient=None, display_id=None, **kwargs)>,
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x1183b5518>>}

## Exercise 2

In [3]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
print(mylist)
print(myarr)
print(mydict)

['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]
{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [4]:
# Solution

ser_mylist=pd.Series(mylist)
print(ser_mylist.tail(2))
ser_myarr=pd.Series(myarr)
print(ser_myarr.head(2))
ser_mydict=pd.Series(mydict)
print(ser_mydict.tail(2))

24    y
25    z
dtype: object
0    0
1    1
dtype: int64
y    24
z    25
dtype: int64

## Exercise 3
Create a dataframe and convert the index of the series into a column of the dataframe

In [5]:
df_mydict = ser_mydict.to_frame().reset_index()
print(df_mydict.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

## Exercise 4
How to combine many series into a dataframe
We use ser_mylist and ser_myarr

In [6]:
df_solution1 = pd.concat([ser_mylist, ser_myarr], axis = 1)
print(df_solution1.head())
df_solution2 = pd.DataFrame({'col1': ser_mylist, 'col2': ser_myarr})
print(df_solution2.head())

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4
  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## Exercise 5
how to give the series a name

In [7]:
ser_mylist.name = 'alphabets'
print(ser_mylist.head())

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
ser.name = 'alphabets2'
print(ser.head())

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object
0    a
1    b
2    c
3    d
4    e
Name: alphabets2, dtype: object

## Exercise 6
How to remove items in series A which are present in series B

In [8]:
serA = pd.Series([1, 2, 3, 4, 5])
serB = pd.Series([4, 5, 6, 7, 8])
x= serA[-serA.isin(serB)]
print(serA)
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
dtype: int64

## Exercise 7
How to get items not common in both sets

In [9]:
ser_union = pd.Series(np.union1d(serA, serB))
ser_intersect = pd.Series(np.intersect1d(serA, serB))

result = ser_union[-ser_union.isin(ser_intersect)]
result

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## Exercise 8
Get the 25th, median, 75th percentile, as well as minimum and maximum of ser

In [10]:
ser = pd.Series(np.random.normal(10, 5, 25))
print(ser)

0     12.601238
1     13.544718
2      5.299996
3      1.384592
4      4.855563
5     16.768251
6      9.233802
7     11.203270
8     -4.460392
9      5.853174
10     6.698409
11    10.409328
12    16.264852
13    10.697733
14    15.855582
15     9.700851
16     9.313017
17    10.637819
18    10.933133
19    12.500991
20    14.452541
21     9.673369
22    11.679221
23     3.523140
24    11.360703
dtype: float64

In [11]:
print(np.percentile(ser, q=[0, 25, 50, 75 ,100]))

[-4.46039193  6.69840938 10.63781938 12.50099112 16.76825051]

## Exercise 9
How to get the frequency count for umique items in a series

In [12]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size = 30)))
ser

0     d
1     a
2     f
3     g
4     d
5     b
6     g
7     g
8     c
9     f
10    a
11    b
12    d
13    g
14    a
15    d
16    e
17    e
18    a
19    f
20    f
21    h
22    a
23    f
24    d
25    h
26    g
27    f
28    c
29    e
dtype: object

## exercise 10
exercise 10 + make the value count a dataframe

In [13]:
frequency = ser.value_counts()
print(frequency)

f    6
d    5
a    5
g    5
e    3
h    2
b    2
c    2
dtype: int64

In [14]:
pd.Series(frequency).to_frame().reset_index()

  index  0
0     f  6
1     d  5
2     a  5
3     g  5
4     e  3
5     h  2
6     b  2
7     c  2

In [15]:
pd.Series(ser.value_counts()).to_frame().reset_index()

  index  0
0     f  6
1     d  5
2     a  5
3     g  5
4     e  3
5     h  2
6     b  2
7     c  2

## Exercise 11
How to create 10 equally sized groups

In [16]:
ser_10 = pd.Series(np.random.random(20))
print(ser_10)

0     0.793990
1     0.876637
2     0.012178
3     0.910026
4     0.664149
5     0.112337
6     0.659409
7     0.667063
8     0.535714
9     0.161448
10    0.082512
11    0.430011
12    0.117662
13    0.419603
14    0.509408
15    0.630969
16    0.651283
17    0.341121
18    0.785147
19    0.106335
dtype: float64

In [17]:
group_of_ten = pd.qcut(ser_10, q = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1],
        labels = ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th','10th'])
group_of_ten.head(7)

0     9th
1    10th
2     1st
3    10th
4     8th
5     2nd
6     7th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [18]:
group_of_ten.value_counts()

10th    2
9th     2
8th     2
7th     2
6th     2
5th     2
4th     2
3rd     2
2nd     2
1st     2
dtype: int64

## Exercise 12
how to convert a np array to a dataframe of angiven shape

In [19]:
ser_35 = pd.Series(np.random.randint(1, 10, 35))
print(ser_35)

0     1
1     4
2     4
3     5
4     1
5     5
6     3
7     4
8     1
9     7
10    2
11    6
12    4
13    7
14    4
15    5
16    1
17    6
18    1
19    8
20    3
21    8
22    5
23    8
24    6
25    3
26    8
27    4
28    7
29    5
30    7
31    1
32    3
33    4
34    5
dtype: int64

In [20]:
df_ser7x5 = pd.DataFrame(ser_35.values.reshape(7, 5))

In [21]:
print(df_ser7x5)

   0  1  2  3  4
0  1  4  4  5  1
1  5  3  4  1  7
2  2  6  4  7  4
3  5  1  6  1  8
4  3  8  5  8  6
5  3  8  4  7  5
6  7  1  3  4  5

## Exercise 13
find positions in series. in this case find the positions of numbers which are multiples of 3.

In [22]:
ser_m3 = pd.Series(np.random.randint(1,10,7))
print(ser_m3)

0    3
1    1
2    1
3    5
4    4
5    4
6    7
dtype: int64

In [23]:
positions = np.argwhere(ser_m3 % 3==0)
print(positions)

[[0]]

/var/mobile/Containers/Data/Application/289044AF-433E-48DD-BE47-157D15007116/Library/lib/python3.7/site-packages/numpy-1.16.0-py3.7-macosx-10.9-x86_64.egg/numpy/core/fromnumeric.py:56: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return getattr(obj, method)(*args, **kwds)

## Exercise 14
how to extract values at a certain position from a series

In [24]:
ser_mylist

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

In [25]:
pos = [0, 4, 8, 14, 20]
ser_mylist.take(pos)

0     a
4     d
8     i
14    o
20    u
Name: alphabets, dtype: object

## Exercise 15
How to stack two series vertically and horizontally

In [26]:
ser_1to5 = pd.Series(range(5))
ser_atoe = pd.Series(list("abcde"))

df_ser_horizontal = pd.concat([ser_1to5, ser_atoe], axis =1)
print(df_ser_horizontal)

ser_vertical = ser_1to5.append(ser_atoe).reset_index()
print(ser_vertical)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
   index  0
0      0  0
1      1  1
2      2  2
3      3  3
4      4  4
5      0  a
6      1  b
7      2  c
8      3  d
9      4  e

## Exercise 16
How to get the positions of items of series A in series B

In [27]:
ser1 = pd.Series([10, 9, 6, 5, 3, 11, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

print(ser1[0])
print(ser1[8])
print(ser2[3])

10
13
13

In [28]:
# i = ser2[3]
i = 13
print(type(i))
print(pd.Index(ser1).get_loc(13))

# for i in range(len(ser2)):
#     print(type(ser[i]))
#     print(pd.Index(ser1).get_loc(ser[i]))
#     # with this code python interpretes ser[i] as a string so it does not work

# for i in ser2:
#     print(type(i))
#     print(pd.Index(ser1).get_loc(i))
#     # does interprete i as integer, but still does not work!!!

<class 'int'>
8

In [29]:
# [pd.Index(ser1).get_loc(i) for i in ser2]

# positions1 = [pd.Index(ser1).get_loc(i) for i in ser2]
# print(positions1)

# positions2 = [np.where(i == ser1)[0].tolist()[0] for i in ser2]
# print(positions2)

# does not work at all

## Exercise 17
how to compute mean squared error
compute mean squared error of truth and pred series

In [30]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = 0

for i in range(10):
    mse += (truth[i] - pred[i]) ** 2
    
mse = mse / 10
print(mse)

0.08260758455203238

In [31]:
print(np.mean((truth - pred) ** 2))

0.08260758455203239

## Exercise 18
convert first character to upprtcase
3 different solutions

In [32]:
ser_char = pd.Series(["how", "to", "kick" , "ass?" ])

print(ser_char)

0     how
1      to
2    kick
3    ass?
dtype: object

In [33]:
ser_upper = pd.Series([i.title() for i in ser_char])

In [34]:
print(ser_upper)

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [35]:
ser_lower = ser_upper.map(lambda x: x.lower())
print(ser_lower)

0     how
1      to
2    kick
3    ass?
dtype: object

In [36]:
ser_up_again = ser_lower.map(lambda x: x[0].upper() + x[1:])
print(ser_up_again)

0     How
1      To
2    Kick
3    Ass?
dtype: object

## Exercise 19
calculate the length of each word

In [37]:
ser_length = pd.Series(["how", "to", "kick" , "ass?" ])

ser_len = ser_length.map(lambda x: len(x))
print(ser_len)

0    3
1    2
2    4
3    4
dtype: int64

## Exercise 20
compute difference of differences of a the numbers of a series

In [38]:
ser_orig = pd.Series([ 1, 3, 6, 10, 15, 21, 27, 35])

# ser_diff = pd.Series([ser_orig[i] - ser_orig[i-1] for i in len(ser_orig)])
# # does not work

# easier is
ser_diff = ser_orig.diff().tolist()
print(ser_diff)
ser_diff_diff = ser_orig.diff().diff().tolist()
print(ser_diff_diff)

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

## Exercise 21
make a time series out of a list if dates

In [39]:
ser_date = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
print(ser_date)

0         01 Jan 2010
1          02-02-2011
2            20120303
3          2013/04/04
4          2014-05-05
5    2015-06-06T12:20
dtype: object

In [40]:
ser_date64 = pd.to_datetime(ser_date)
print(ser_date64)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## Exercise 22

get the day of month, week of year, day of week

In [41]:
ser_dat2 = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil.parser import parse
ser_ts = ser_dat2.map(lambda x:parse(x))

print("Date", ser_ts.dt.day.tolist())

print("Week number", ser_ts.dt.weekofyear.tolist())

print("Day of year", ser_ts.dt.dayofyear.tolist())

print("Day of week", ser_ts.dt.weekday_name.tolist())

Date [1, 2, 3, 4, 5, 6]
Week number [53, 5, 9, 14, 19, 23]
Day of year [1, 33, 63, 94, 125, 157]
Day of week ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

## Exercise 23

How to convert year + month string to date which corresponds tonthe 4th of each month

In [42]:
ser_ym = pd.Series(['Jan 2018', 'Feb 2019', 'Mar 2020'])

# Solution2
ser_ymd = ser_ym.map(lambda x: '04 ' + x)
print(ser_ymd)

0    04 Jan 2018
1    04 Feb 2019
2    04 Mar 2020
dtype: object

In [44]:
# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser_ym.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

['2018-01-04', '2019-02-04', '2020-03-04']

## Exercise 24
how to filter words, that contain at least 2 vowles from a series

In [ ]:
ser_fruits = pd.Series([ "Apple", "Orange", "Plumb", "Cherrie"]) 

from collections import counter
ser_2v = ser_fruits.maÃŸ(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')])>= 2)
# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]