# Merge
- Concat 
- Join   
- Append

In [1]:
import pandas as pd
import numpy as np

starting_date = '20160701'
sample_numpy_data = np.array(np.arange(24)).reshape((6,4))
dates_index = pd.date_range(starting_date, periods=6)
sample_df = pd.DataFrame(sample_numpy_data, index=dates_index, columns=list('ABCD'))

sample_df_2 = sample_df.copy()
sample_df_2['Fruits'] = ['apple', 'orange','banana','strawberry','blueberry','pineapple']

sample_series = pd.Series([1,2,3,4,5,6], index=pd.date_range(starting_date, periods=6))
sample_df_2['Extra Data'] = sample_series *3 +1

second_numpy_array = np.array(np.arange(len(sample_df_2)))  *100 + 7
sample_df_2['G'] = second_numpy_array

sample_df_2

             A   B   C   D      Fruits  Extra Data    G
2016-07-01   0   1   2   3       apple           4    7
2016-07-02   4   5   6   7      orange           7  107
2016-07-03   8   9  10  11      banana          10  207
2016-07-04  12  13  14  15  strawberry          13  307
2016-07-05  16  17  18  19   blueberry          16  407
2016-07-06  20  21  22  23   pineapple          19  507

### concat()
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html
##### separate data frame into a list with 3 elements

In [2]:
pieces = [sample_df_2[:2], sample_df_2[2:4], sample_df_2[4:]]
pieces

[            A  B  C  D  Fruits  Extra Data    G
 2016-07-01  0  1  2  3   apple           4    7
 2016-07-02  4  5  6  7  orange           7  107,
              A   B   C   D      Fruits  Extra Data    G
 2016-07-03   8   9  10  11      banana          10  207
 2016-07-04  12  13  14  15  strawberry          13  307,
              A   B   C   D     Fruits  Extra Data    G
 2016-07-05  16  17  18  19  blueberry          16  407
 2016-07-06  20  21  22  23  pineapple          19  507]

##### concatenate first and last elements

In [3]:
new_list = pieces[0], pieces[2]
pd.concat(new_list)

             A   B   C   D     Fruits  Extra Data    G
2016-07-01   0   1   2   3      apple           4    7
2016-07-02   4   5   6   7     orange           7  107
2016-07-05  16  17  18  19  blueberry          16  407
2016-07-06  20  21  22  23  pineapple          19  507

### append()
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.append.html

In [4]:
new_last_row = sample_df_2.iloc[2]

In [5]:
sample_df_2.append(new_last_row)

             A   B   C   D      Fruits  Extra Data    G
2016-07-01   0   1   2   3       apple           4    7
2016-07-02   4   5   6   7      orange           7  107
2016-07-03   8   9  10  11      banana          10  207
2016-07-04  12  13  14  15  strawberry          13  307
2016-07-05  16  17  18  19   blueberry          16  407
2016-07-06  20  21  22  23   pineapple          19  507
2016-07-03   8   9  10  11      banana          10  207

In [6]:
sample_df_2

             A   B   C   D      Fruits  Extra Data    G
2016-07-01   0   1   2   3       apple           4    7
2016-07-02   4   5   6   7      orange           7  107
2016-07-03   8   9  10  11      banana          10  207
2016-07-04  12  13  14  15  strawberry          13  307
2016-07-05  16  17  18  19   blueberry          16  407
2016-07-06  20  21  22  23   pineapple          19  507

### merge()
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
        
Merge DataFrame objects by performing a database-style join operation by columns or indexes.

If joining columns on columns, the DataFrame indexes will be ignored. Otherwise if joining indexes on indexes or indexes on a column or columns, the index will be passed on.

In [7]:
left = pd.DataFrame({'my_key': ['K0', 'K1', 'K2', 'K3'],
 'A': ['A0', 'A1', 'A2', 'A3'],
 'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'my_key': ['K0', 'K1', 'K2', 'K3'],
 'C': ['C0', 'C1', 'C2', 'C3'],
 'D': ['D0', 'D1', 'D2', 'D3']})

In [8]:
result = pd.merge(left, right, on='my_key')
result

    A   B my_key   C   D
0  A0  B0     K0  C0  D0
1  A1  B1     K1  C1  D1
2  A2  B2     K2  C2  D2
3  A3  B3     K3  C3  D3