Pandas exercises from https://www.machinelearningplus.com/python/101-pandas-exercises-python/.

## Exercise 34

How to change column values when importing csv to a dataframe.
Using th Boston housing dataset and changing the value of medv(medium houses value) to 'low' for values smaller 25 and 'hihg' for values > 25.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})

print(df)

         crim    zn  indus  chas    nox     rm    age     dis  rad  tax  \
0     0.00632  18.0   2.31     0  0.538  6.575   65.2  4.0900    1  296
1     0.02731   0.0   7.07     0  0.469  6.421   78.9  4.9671    2  242
2     0.02729   0.0   7.07     0  0.469  7.185   61.1  4.9671    2  242
3     0.03237   0.0   2.18     0  0.458  6.998   45.8  6.0622    3  222
4     0.06905   0.0   2.18     0  0.458  7.147   54.2  6.0622    3  222
5     0.02985   0.0   2.18     0  0.458  6.430   58.7  6.0622    3  222
6     0.08829  12.5   7.87     0  0.524  6.012   66.6  5.5605    5  311
7     0.14455  12.5   7.87     0  0.524  6.172   96.1  5.9505    5  311
8     0.21124  12.5   7.87     0  0.524  5.631  100.0  6.0821    5  311
9     0.17004  12.5   7.87     0  0.524  6.004   85.9  6.5921    5  311
10    0.22489  12.5   7.87     0  0.524  6.377   94.3  6.3467    5  311
11    0.11747  12.5   7.87     0  0.524  6.009   82.9  6.2267    5  311
12    0.09378  12.5   7.87     0  0.524  5.889   39.0  5.4509    5  311
13    0.62976   0.0   8.14     0  0.538  5.949   61.8  4.7075    4  307
14    0.63796   0.0   8.14     0  0.538  6.096   84.5  4.4619    4  307
15    0.62739   0.0   8.14     0  0.538  5.834   56.5  4.4986    4  307
16    1.05393   0.0   8.14     0  0.538  5.935   29.3  4.4986    4  307
17    0.78420   0.0   8.14     0  0.538  5.990   81.7  4.2579    4  307
18    0.80271   0.0   8.14     0  0.538  5.456   36.6  3.7965    4  307
19    0.72580   0.0   8.14     0  0.538  5.727   69.5  3.7965    4  307
20    1.25179   0.0   8.14     0  0.538  5.570   98.1  3.7979    4  307
21    0.85204   0.0   8.14     0  0.538  5.965   89.2  4.0123    4  307
22    1.23247   0.0   8.14     0  0.538  6.142   91.7  3.9769    4  307
23    0.98843   0.0   8.14     0  0.538  5.813  100.0  4.0952    4  307
24    0.75026   0.0   8.14     0  0.538  5.924   94.1  4.3996    4  307
25    0.84054   0.0   8.14     0  0.538  5.599   85.7  4.4546    4  307
26    0.67191   0.0   8.14     0  0.538  5.813   90.3  4.6820    4  307
27    0.95577   0.0   8.14     0  0.538  6.047   88.8  4.4534    4  307
28    0.77299   0.0   8.14     0  0.538  6.495   94.4  4.4547    4  307
29    1.00245   0.0   8.14     0  0.538  6.674   87.3  4.2390    4  307
..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
476   4.87141   0.0  18.10     0  0.614  6.484   93.6  2.3053   24  666
477  15.02340   0.0  18.10     0  0.614  5.304   97.3  2.1007   24  666
478  10.23300   0.0  18.10     0  0.614  6.185   96.7  2.1705   24  666
479  14.33370   0.0  18.10     0  0.614  6.229   88.0  1.9512   24  666
480   5.82401   0.0  18.10     0  0.532  6.242   64.7  3.4242   24  666
481   5.70818   0.0  18.10     0  0.532  6.750   74.9  3.3317   24  666
482   5.73116   0.0  18.10     0  0.532  7.061   77.0  3.4106   24  666
483   2.81838   0.0  18.10     0  0.532  5.762   40.3  4.0983   24  666
484   2.37857   0.0  18.10     0  0.583  5.871   41.9  3.7240   24  666
485   3.67367   0.0  18.10     0  0.583  6.312   51.9  3.9917   24  666
486   5.69175   0.0  18.10     0  0.583  6.114   79.8  3.5459   24  666
487   4.83567   0.0  18.10     0  0.583  5.905   53.2  3.1523   24  666
488   0.15086   0.0  27.74     0  0.609  5.454   92.7  1.8209    4  711
489   0.18337   0.0  27.74     0  0.609  5.414   98.3  1.7554    4  711
490   0.20746   0.0  27.74     0  0.609  5.093   98.0  1.8226    4  711
491   0.10574   0.0  27.74     0  0.609  5.983   98.8  1.8681    4  711
492   0.11132   0.0  27.74     0  0.609  5.983   83.5  2.1099    4  711
493   0.17331   0.0   9.69     0  0.585  5.707   54.0  2.3817    6  391
494   0.27957   0.0   9.69     0  0.585  5.926   42.6  2.3817    6  391
495   0.17899   0.0   9.69     0  0.585  5.670   28.8  2.7986    6  391
496   0.28960   0.0   9.69     0  0.585  5.390   72.9  2.7986    6  391
497   0.26838   0.0   9.69     0  0.585  5.794   70.6  2.8927    6  391
498   0.23912   0.0   9.69     0  0.585  6.019   65.3  2.4091    6  391
499   0.17783   0.0   9.69     0  0.585  5.569   73.5  2.3999    6  391
500   0.22438   0.0   9.69     0  0.585  6.027   79.7  2.4982    6  391
501   0.06263   0.0  11.93     0  0.573  6.593   69.1  2.4786    1  273
502   0.04527   0.0  11.93     0  0.573  6.120   76.7  2.2875    1  273
503   0.06076   0.0  11.93     0  0.573  6.976   91.0  2.1675    1  273
504   0.10959   0.0  11.93     0  0.573  6.794   89.3  2.3889    1  273
505   0.04741   0.0  11.93     0  0.573  6.030   80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98   Low
1       17.8  396.90   9.14   Low
2       17.8  392.83   4.03  High
3       18.7  394.63   2.94  High
4       18.7  396.90   5.33  High
5       18.7  394.12   5.21  High
6       15.2  395.60  12.43   Low
7       15.2  396.90  19.15  High
8       15.2  386.63  29.93   Low
9       15.2  386.71  17.10   Low
10      15.2  392.52  20.45   Low
11      15.2  396.90  13.27   Low
12      15.2  390.50  15.71   Low
13      21.0  396.90   8.26   Low
14      21.0  380.02  10.26   Low
15      21.0  395.62   8.47   Low
16      21.0  386.85   6.58   Low
17      21.0  386.75  14.67   Low
18      21.0  288.99  11.69   Low
19      21.0  390.95  11.28   Low
20      21.0  376.57  21.02   Low
21      21.0  392.53  13.83   Low
22      21.0  396.90  18.72   Low
23      21.0  394.54  19.88   Low
24      21.0  394.33  16.30   Low
25      21.0  303.42  16.51   Low
26      21.0  376.88  14.81   Low
27      21.0  306.38  17.28   Low
28      21.0  387.94  12.80   Low
29      21.0  380.23  11.98   Low
..       ...     ...    ...   ...
476     20.2  396.21  18.68   Low
477     20.2  349.48  24.91   Low
478     20.2  379.70  18.03   Low
479     20.2  383.32  13.11   Low
480     20.2  396.90  10.74   Low
481     20.2  393.07   7.74   Low
482     20.2  395.28   7.01   Low
483     20.2  392.92  10.42   Low
484     20.2  370.73  13.34   Low
485     20.2  388.62  10.58   Low
486     20.2  392.68  14.98   Low
487     20.2  388.22  11.45   Low
488     20.1  395.09  18.06   Low
489     20.1  344.05  23.97   Low
490     20.1  318.43  29.68   Low
491     20.1  390.11  18.07   Low
492     20.1  396.90  13.35   Low
493     19.2  396.90  12.01   Low
494     19.2  396.90  13.59   Low
495     19.2  393.29  17.60   Low
496     19.2  396.90  21.14   Low
497     19.2  396.90  14.10   Low
498     19.2  396.90  12.92   Low
499     19.2  395.77  15.10   Low
500     19.2  396.90  14.33   Low
501     21.0  391.99   9.67   Low
502     21.0  396.90   9.08   Low
503     21.0  396.90   5.64   Low
504     21.0  393.45   6.48   Low
505     21.0  396.90   7.88   Low

[506 rows x 14 columns]

## Exercise 35
How to create a dataframe with rows as strides from a give series

In [2]:
# Input
ser_L = pd.Series(range(16))
print(ser_L)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
dtype: int64

In [3]:
def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

ser_reshape = gen_strides(ser_L, stride_len=2, window_len=4)
print(ser_reshape)

[[ 0  1  2  3]
 [ 2  3  4  5]
 [ 4  5  6  7]
 [ 6  7  8  9]
 [ 8  9 10 11]
 [10 11 12 13]
 [12 13 14 15]]

## Exercise 36
How to import only specified columns from a csv file
Import only crim and medv columns from the boston housing data set as a dataframe

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df)

         crim  medv
0     0.00632  24.0
1     0.02731  21.6
2     0.02729  34.7
3     0.03237  33.4
4     0.06905  36.2
5     0.02985  28.7
6     0.08829  22.9
7     0.14455  27.1
8     0.21124  16.5
9     0.17004  18.9
10    0.22489  15.0
11    0.11747  18.9
12    0.09378  21.7
13    0.62976  20.4
14    0.63796  18.2
15    0.62739  19.9
16    1.05393  23.1
17    0.78420  17.5
18    0.80271  20.2
19    0.72580  18.2
20    1.25179  13.6
21    0.85204  19.6
22    1.23247  15.2
23    0.98843  14.5
24    0.75026  15.6
25    0.84054  13.9
26    0.67191  16.6
27    0.95577  14.8
28    0.77299  18.4
29    1.00245  21.0
..        ...   ...
476   4.87141  16.7
477  15.02340  12.0
478  10.23300  14.6
479  14.33370  21.4
480   5.82401  23.0
481   5.70818  23.7
482   5.73116  25.0
483   2.81838  21.8
484   2.37857  20.6
485   3.67367  21.2
486   5.69175  19.1
487   4.83567  20.6
488   0.15086  15.2
489   0.18337   7.0
490   0.20746   8.1
491   0.10574  13.6
492   0.11132  20.1
493   0.17331  21.8
494   0.27957  24.5
495   0.17899  23.1
496   0.28960  19.7
497   0.26838  18.3
498   0.23912  21.2
499   0.17783  17.5
500   0.22438  16.8
501   0.06263  22.4
502   0.04527  20.6
503   0.06076  23.9
504   0.10959  22.0
505   0.04741  11.9

[506 rows x 2 columns]

## Exercise 37
How to get the nrows, ncolumns, datatype and and summary stats of each column of a DataFrame
Get these statistics from the cars93 dataset.

In [5]:
df_cars93 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df_cars93.head())

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura  Integra    Small       12.9   15.9       18.8      25.0
1          NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2         Audi       90  Compact       25.9   29.1       32.3      20.0
3         Audi      100  Midsize        NaN   37.7       44.6      19.0
4          BMW     535i  Midsize        NaN   30.0        NaN      22.0

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0         31.0                None      Front  ...        5.0   177.0
1         25.0  Driver & Passenger      Front  ...        5.0   195.0
2         26.0         Driver only      Front  ...        5.0   180.0
3         26.0  Driver & Passenger        NaN  ...        6.0   193.0
4         30.0                 NaN       Rear  ...        4.0   186.0

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0      102.0   68.0         37.0           26.5           NaN  2705.0
1      115.0   71.0         38.0           30.0          15.0  3560.0
2      102.0   67.0         37.0           28.0          14.0  3375.0
3      106.0    NaN         37.0           31.0          17.0  3405.0
4      109.0   69.0         39.0           27.0          13.0  3640.0

    Origin           Make
0  non-USA  Acura Integra
1  non-USA   Acura Legend
2  non-USA        Audi 90
3  non-USA       Audi 100
4  non-USA       BMW 535i

[5 rows x 27 columns]

In [6]:
# number of rows and columns
print(df_cars93.shape)

(93, 27)

In [7]:
# how many columns under each datatype
print(df_cars93.get_dtype_counts())

float64    18
object      9
dtype: int64

In [8]:
# same information with other functions
print(df_cars93.dtypes.value_counts())

float64    18
object      9
dtype: int64

In [9]:
# and now the summary statistics
df_cars93.describe()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,86.000000,91.000000,88.000000,84.000000,91.000000,91.000000,86.000000,90.000000,87.000000,85.000000,91.000000,89.000000,92.000000,87.000000,88.000000,89.000000,74.000000,86.000000
mean,17.118605,19.616484,21.459091,22.404762,29.065934,2.658242,144.000000,5276.666667,2355.000000,16.683529,5.076923,182.865169,103.956522,69.448276,38.954545,27.853933,13.986486,3104.593023
std,8.828290,9.724280,10.696563,5.841520,5.370293,1.045845,53.455204,605.554811,486.916616,3.375748,1.045953,14.792651,6.856317,3.778023,3.304157,3.018129,3.120824,600.129993
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.825000,12.350000,14.575000,18.000000,26.000000,1.800000,100.750000,4800.000000,2017.500000,14.500000,4.000000,174.000000,98.000000,67.000000,36.000000,26.000000,12.000000,2647.500000
50%,14.600000,17.700000,19.150000,21.000000,28.000000,2.300000,140.000000,5200.000000,2360.000000,16.500000,5.000000,181.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3085.000000
75%,20.250000,23.500000,24.825000,25.000000,31.000000,3.250000,170.000000,5787.500000,2565.000000,19.000000,6.000000,192.000000,110.000000,72.000000,42.000000,30.000000,16.000000,3567.500000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [10]:
#convert dataframe to numpy array
df_cars93_arr = df_cars93.values
print(df_cars93_arr)

[['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

In [11]:
#convert dataframe to list
df_cars93_list = df_cars93.values.tolist()
print(df_cars93_list)

[['Acura', 'Integra', 'Small', 12.9, 15.9, 18.8, 25.0, 31.0, 'None', 'Front', '4', 1.8, 140.0, 6300.0, 2890.0, 'Yes', 13.2, 5.0, 177.0, 102.0, 68.0, 37.0, 26.5, nan, 2705.0, 'non-USA', 'Acura Integra'], [nan, 'Legend', 'Midsize', 29.2, 33.9, 38.7, 18.0, 25.0, 'Driver & Passenger', 'Front', '6', 3.2, 200.0, 5500.0, 2335.0, 'Yes', 18.0, 5.0, 195.0, 115.0, 71.0, 38.0, 30.0, 15.0, 3560.0, 'non-USA', 'Acura Legend'], ['Audi', '90', 'Compact', 25.9, 29.1, 32.3, 20.0, 26.0, 'Driver only', 'Front', '6', 2.8, 172.0, 5500.0, 2280.0, 'Yes', 16.9, 5.0, 180.0, 102.0, 67.0, 37.0, 28.0, 14.0, 3375.0, 'non-USA', 'Audi 90'], ['Audi', '100', 'Midsize', nan, 37.7, 44.6, 19.0, 26.0, 'Driver & Passenger', nan, '6', nan, 172.0, 5500.0, 2535.0, nan, 21.1, 6.0, 193.0, 106.0, nan, 37.0, 31.0, 17.0, 3405.0, 'non-USA', 'Audi 100'], ['BMW', '535i', 'Midsize', nan, 30.0, nan, 22.0, 30.0, nan, 'Rear', '4', 3.5, 208.0, 5700.0, 2545.0, 'Yes', 21.1, 4.0, 186.0, 109.0, 69.0, 39.0, 27.0, 13.0, 3640.0, 'non-USA', 'BMW 535i'], ['Buick', 'Century', 'Midsize', 14.2, 15.7, 17.3, 22.0, 31.0, 'Driver only', nan, '4', 2.2, 110.0, 5200.0, 2565.0, 'No', 16.4, 6.0, 189.0, 105.0, 69.0, 41.0, 28.0, 16.0, nan, 'USA', 'Buick Century'], ['Buick', 'LeSabre', 'Large', 19.9, 20.8, nan, 19.0, 28.0, 'Driver only', 'Front', '6', 3.8, 170.0, 4800.0, nan, 'No', nan, 6.0, 200.0, 111.0, 74.0, 42.0, 30.5, 17.0, 3470.0, 'USA', 'Buick LeSabre'], ['Buick', 'Roadmaster', 'Large', 22.6, 23.7, 24.9, 16.0, 25.0, 'Driver only', 'Rear', '6', 5.7, 180.0, 4000.0, 1320.0, 'No', 23.0, 6.0, 216.0, 116.0, 78.0, 45.0, 30.5, 21.0, 4105.0, 'USA', 'Buick Roadmaster'], ['Buick', 'Riviera', 'Midsize', 26.3, 26.3, 26.3, 19.0, 27.0, 'Driver only', 'Front', '6', 3.8, 170.0, 4800.0, 1690.0, 'No', 18.8, 5.0, 198.0, 108.0, nan, 41.0, 26.5, 14.0, 3495.0, 'USA', 'Buick Riviera'], ['Cadillac', 'DeVille', 'Large', 33.0, 34.7, 36.3, 16.0, 25.0, 'Driver only', 'Front', '8', 4.9, 200.0, 4100.0, nan, 'No', 18.0, 6.0, 206.0, 114.0, 73.0, 43.0, 35.0, 18.0, 3620.0, 'USA', 'Cadillac DeVille'], ['Cadillac', 'Seville', 'Midsize', 37.5, 40.1, 42.7, 16.0, 25.0, 'Driver & Passenger', 'Front', '8', 4.6, 295.0, 6000.0, 1985.0, 'No', 20.0, 5.0, 204.0, 111.0, 74.0, 44.0, 31.0, nan, 3935.0, 'USA', 'Cadillac Seville'], ['Chevrolet', 'Cavalier', 'Compact', 8.5, 13.4, 18.3, 25.0, 36.0, nan, nan, '4', 2.2, nan, 5200.0, 2380.0, 'Yes', 15.2, 5.0, 182.0, 101.0, 66.0, 38.0, 25.0, 13.0, 2490.0, 'USA', 'Chevrolet Cavalier'], ['Chevrolet', 'Corsica', 'Compact', 11.4, 11.4, 11.4, 25.0, 34.0, 'Driver only', 'Front', nan, 2.2, 110.0, 5200.0, 2665.0, 'Yes', 15.6, 5.0, 184.0, 103.0, 68.0, 39.0, 26.0, nan, 2785.0, 'USA', 'Chevrolet Corsica'], ['Chevrolet', 'Camaro', 'Sporty', 13.4, 15.1, 16.8, 19.0, 28.0, 'Driver & Passenger', 'Rear', nan, 3.4, 160.0, 4600.0, 1805.0, 'Yes', nan, 4.0, 193.0, 101.0, 74.0, 43.0, 25.0, 13.0, 3240.0, 'USA', 'Chevrolet Camaro'], ['Chevrolet', 'Lumina', 'Midsize', 13.4, 15.9, 18.4, nan, 29.0, 'None', 'Front', '4', 2.2, nan, 5200.0, 2595.0, 'No', 16.5, 6.0, nan, 108.0, 71.0, nan, 28.5, 16.0, 3195.0, 'USA', 'Chevrolet Lumina'], ['Chevrolet', 'Lumina_APV', 'Van', 14.7, 16.3, 18.0, 18.0, 23.0, 'None', 'Front', '6', 3.8, 170.0, 4800.0, 1690.0, 'No', 20.0, 7.0, 178.0, 110.0, 74.0, 44.0, 30.5, nan, 3715.0, 'USA', 'Chevrolet Lumina_APV'], ['Chevrolet', 'Astro', 'Van', 14.7, 16.6, 18.6, 15.0, 20.0, 'None', '4WD', '6', 4.3, nan, 4000.0, 1790.0, 'No', 27.0, 8.0, 194.0, 111.0, 78.0, 42.0, 33.5, nan, 4025.0, 'USA', 'Chevrolet Astro'], ['Chevrolet', 'Caprice', 'Large', 18.0, 18.8, 19.6, 17.0, 26.0, 'Driver only', 'Rear', '8', 5.0, 170.0, 4200.0, 1350.0, 'No', 23.0, 6.0, 214.0, 116.0, 77.0, 42.0, 29.5, 20.0, 3910.0, 'USA', 'Chevrolet Caprice'], ['Chevrolet', 'Corvette', 'Sporty', 34.6, 38.0, 41.5, 17.0, 25.0, 'Driver only', 'Rear', '8', 5.7, 300.0, 5000.0, 1450.0, 'Yes', 20.0, 2.0, 179.0, 96.0, 74.0, 43.0, nan, nan, 3380.0, nan, 'Chevrolet Corvette'], [nan, 'Concorde', 'Large', 18.4, 18.4, 18.4, 20.0, 28.0, 'Driver & Passenger', 'Front', '6', 3.3, 153.0, 5300.0, 1990.0, 'No', 18.0, 6.0, 203.0, 113.0, 74.0, nan, 31.0, 15.0, 3515.0, 'USA', 'Chrylser Concorde'], ['Chrysler', 'LeBaron', 'Compact', 14.5, 15.8, 17.1, 23.0, 28.0, 'Driver & Passenger', 'Front', '4', 3.0, 141.0, 5000.0, 2090.0, 'No', 16.0, 6.0, 183.0, 104.0, 68.0, 41.0, 30.5, 14.0, 3085.0, 'USA', 'Chrysler LeBaron'], ['Chrysler', 'Imperial', 'Large', 29.5, 29.5, 29.5, 20.0, 26.0, 'Driver only', 'Front', '6', 3.3, 147.0, 4800.0, 1785.0, 'No', 16.0, 6.0, 203.0, 110.0, 69.0, 44.0, 36.0, 17.0, 3570.0, 'USA', 'Chrysler Imperial'], ['Dodge', 'Colt', 'Small', 7.9, 9.2, 10.6, 29.0, 33.0, 'None', 'Front', '4', 1.5, 92.0, 6000.0, 3285.0, 'Yes', nan, 5.0, 174.0, 98.0, 66.0, 32.0, nan, 11.0, 2270.0, 'USA', 'Dodge Colt'], ['Dodge', 'Shadow', 'Small', 8.4, 11.3, 14.2, 23.0, 29.0, 'Driver only', 'Front', '4', 2.2, 93.0, 4800.0, nan, 'Yes', 14.0, 5.0, 172.0, 97.0, 67.0, 38.0, 26.5, nan, 2670.0, 'USA', 'Dodge Shadow'], ['Dodge', 'Spirit', 'Compact', 11.9, 13.3, 14.7, 22.0, 27.0, 'Driver only', 'Front', '4', 2.5, 100.0, 4800.0, 2535.0, 'Yes', nan, 6.0, 181.0, 104.0, 68.0, 39.0, 30.5, nan, 2970.0, 'USA', 'Dodge Spirit'], ['Dodge', 'Caravan', 'Van', nan, 19.0, 24.4, 17.0, 21.0, 'Driver only', '4WD', '6', 3.0, 142.0, 5000.0, 1970.0, 'No', 20.0, 7.0, 175.0, 112.0, 72.0, 42.0, 26.5, nan, 3705.0, 'USA', 'Dodge Caravan'], ['Dodge', 'Dynasty', 'Midsize', 14.8, 15.6, 16.4, 21.0, nan, 'Driver only', 'Front', nan, 2.5, 100.0, 4800.0, 2465.0, 'No', 16.0, 6.0, 192.0, 105.0, 69.0, 42.0, 30.5, 16.0, 3080.0, 'USA', 'Dodge Dynasty'], ['Dodge', 'Stealth', 'Sporty', 18.5, 25.8, 33.1, nan, 24.0, 'Driver only', '4WD', '6', 3.0, 300.0, 6000.0, 2120.0, 'Yes', 19.8, 4.0, 180.0, 97.0, nan, 40.0, 20.0, 11.0, 3805.0, 'USA', 'Dodge Stealth'], ['Eagle', 'Summit', 'Small', 7.9, 12.2, 16.5, 29.0, 33.0, 'None', 'Front', '4', 1.5, 92.0, 6000.0, 2505.0, 'Yes', 13.2, 5.0, 174.0, 98.0, 66.0, 36.0, 26.5, 11.0, 2295.0, 'USA', 'Eagle Summit'], ['Eagle', 'Vision', 'Large', nan, 19.3, 21.2, 20.0, 28.0, 'Driver & Passenger', 'Front', '6', 3.5, nan, 5800.0, 1980.0, 'No', 18.0, 6.0, 202.0, 113.0, 74.0, 40.0, 30.0, 15.0, 3490.0, 'USA', 'Eagle Vision'], ['Ford', 'Festiva', 'Small', 6.9, 7.4, 7.9, 31.0, 33.0, nan, 'Front', '4', 1.3, 63.0, 5000.0, 3150.0, 'Yes', 10.0, 4.0, 141.0, 90.0, 63.0, 33.0, 26.0, 12.0, 1845.0, 'USA', 'Ford Festiva'], ['Ford', 'Escort', 'Small', 8.4, 10.1, 11.9, 23.0, 30.0, 'None', 'Front', '4', 1.8, 127.0, 6500.0, 2410.0, nan, 13.2, 5.0, 171.0, 98.0, 67.0, 36.0, 28.0, 12.0, 2530.0, 'USA', 'Ford Escort'], ['Ford', 'Tempo', 'Compact', 10.4, 11.3, 12.2, 22.0, 27.0, 'None', 'Front', '4', 2.3, 96.0, 4200.0, 2805.0, 'Yes', 15.9, 5.0, 177.0, 100.0, 68.0, nan, 27.5, 13.0, nan, 'USA', nan], ['Ford', 'Mustang', 'Sporty', 10.8, 15.9, 21.0, 22.0, 29.0, 'Driver only', 'Rear', '4', 2.3, 105.0, 4600.0, 2285.0, 'Yes', 15.4, 4.0, 180.0, 101.0, 68.0, 40.0, 24.0, 12.0, nan, 'USA', 'Ford Mustang'], ['Ford', 'Probe', 'Sporty', 12.8, 14.0, 15.2, nan, 30.0, 'Driver only', 'Front', '4', 2.0, 115.0, 5500.0, 2340.0, 'Yes', 15.5, 4.0, 179.0, 103.0, 70.0, 38.0, 23.0, 18.0, 2710.0, 'USA', 'Ford Probe'], ['Ford', 'Aerostar', 'Van', 14.5, 19.9, 25.3, 15.0, 20.0, 'Driver only', '4WD', '6', 3.0, 145.0, 4800.0, 2080.0, 'Yes', 21.0, 7.0, 176.0, 119.0, 72.0, 45.0, 30.0, nan, 3735.0, 'USA', 'Ford Aerostar'], ['Ford', 'Taurus', 'Midsize', 15.6, 20.2, 24.8, 21.0, 30.0, 'Driver only', 'Front', '6', 3.0, nan, 4800.0, 1885.0, 'No', nan, 5.0, 192.0, 106.0, 71.0, 40.0, 27.5, 18.0, 3325.0, 'USA', 'Ford Taurus'], ['Ford', 'Crown_Victoria', 'Large', 20.1, 20.9, 21.7, 18.0, 26.0, 'Driver only', 'Rear', '8', 4.6, 190.0, 4200.0, nan, 'No', 20.0, 6.0, 212.0, 114.0, 78.0, 43.0, 30.0, 21.0, 3950.0, 'USA', 'Ford Crown_Victoria'], ['Geo', 'Metro', 'Small', 6.7, 8.4, 10.0, 46.0, 50.0, 'None', 'Front', '3', 1.0, 55.0, 5700.0, 3755.0, nan, 10.6, 4.0, 151.0, 93.0, 63.0, 34.0, 27.5, 10.0, 1695.0, 'non-USA', 'Geo Metro'], ['Geo', 'Storm', 'Sporty', 11.5, 12.5, 13.5, 30.0, 36.0, 'Driver only', 'Front', '4', 1.6, 90.0, 5400.0, 3250.0, 'Yes', 12.4, 4.0, 164.0, 97.0, nan, 37.0, 24.5, 11.0, 2475.0, 'non-USA', 'Geo Storm'], ['Honda', 'Prelude', 'Sporty', 17.0, 19.8, 22.7, 24.0, 31.0, 'Driver & Passenger', 'Front', '4', 2.3, 160.0, 5800.0, 2855.0, 'Yes', nan, 4.0, 175.0, 100.0, 70.0, 39.0, 23.5, 8.0, 2865.0, 'non-USA', 'Honda Prelude'], ['Honda', 'Civic', 'Small', 8.4, 12.1, 15.8, 42.0, 46.0, 'Driver only', 'Front', '4', 1.5, nan, 5900.0, 2650.0, 'Yes', 11.9, 4.0, 173.0, nan, 67.0, 36.0, 28.0, 12.0, nan, 'non-USA', 'Honda Civic'], ['Honda', 'Accord', 'Compact', 13.8, 17.5, 21.2, 24.0, 31.0, 'Driver & Passenger', 'Front', '4', 2.2, 140.0, 5600.0, nan, 'Yes', 17.0, 4.0, 185.0, 107.0, 67.0, 41.0, 28.0, 14.0, 3040.0, 'non-USA', 'Honda Accord'], ['Hyundai', 'Excel', 'Small', 6.8, 8.0, 9.2, 29.0, 33.0, 'None', 'Front', '4', 1.5, 81.0, 5500.0, 2710.0, 'Yes', 11.9, 5.0, 168.0, 94.0, 63.0, 35.0, 26.0, 11.0, 2345.0, 'non-USA', 'Hyundai Excel'], ['Hyundai', 'Elantra', 'Small', 9.0, 10.0, 11.0, nan, 29.0, 'None', 'Front', '4', 1.8, 124.0, 6000.0, 2745.0, 'Yes', 13.7, 5.0, 172.0, 98.0, 66.0, 36.0, 28.0, 12.0, 2620.0, 'non-USA', 'Hyundai Elantra'], ['Hyundai', 'Scoupe', nan, 9.1, 10.0, 11.0, 26.0, 34.0, 'None', 'Front', '4', 1.5, 92.0, 5550.0, 2540.0, 'Yes', 11.9, 4.0, 166.0, 94.0, 64.0, 34.0, 23.5, 9.0, 2285.0, 'non-USA', nan], ['Hyundai', 'Sonata', 'Midsize', 12.4, 13.9, 15.3, 20.0, 27.0, 'None', 'Front', '4', 2.0, 128.0, 6000.0, 2335.0, 'Yes', 17.2, 5.0, 184.0, 104.0, 69.0, 41.0, 31.0, nan, 2885.0, nan, 'Hyundai Sonata'], ['Infiniti', 'Q45', 'Midsize', 45.4, 47.9, nan, 17.0, 22.0, nan, 'Rear', '8', 4.5, 278.0, 6000.0, 1955.0, 'No', 22.5, 5.0, 200.0, 113.0, 72.0, 42.0, 29.0, 15.0, 4000.0, 'non-USA', 'Infiniti Q45'], ['Lexus', 'ES300', 'Midsize', 27.5, 28.0, 28.4, 18.0, 24.0, 'Driver only', 'Front', '6', 3.0, 185.0, nan, 2325.0, 'Yes', 18.5, 5.0, 188.0, 103.0, 70.0, 40.0, 27.5, 14.0, 3510.0, 'non-USA', 'Lexus ES300'], [nan, 'SC300', 'Midsize', 34.7, 35.2, 35.6, 18.0, 23.0, 'Driver & Passenger', 'Rear', '6', 3.0, 225.0, 6000.0, 2510.0, 'Yes', nan, 4.0, 191.0, 106.0, 71.0, 39.0, 25.0, 9.0, 3515.0, 'non-USA', 'Lexus SC300'], ['Lincoln', 'Continental', 'Midsize', 33.3, 34.3, 35.3, 17.0, 26.0, 'Driver & Passenger', nan, '6', 3.8, 160.0, 4400.0, 1835.0, 'No', 18.4, 6.0, 205.0, 109.0, 73.0, 42.0, 30.0, 19.0, 3695.0, 'USA', 'Lincoln Continental'], ['Lincoln', 'Town_Car', 'Large', 34.4, 36.1, 37.8, 18.0, 26.0, 'Driver & Passenger', 'Rear', '8', 4.6, 210.0, 4600.0, 1840.0, 'No', 20.0, nan, 219.0, 117.0, 77.0, 45.0, 31.5, 22.0, 4055.0, 'USA', 'Lincoln Town_Car'], ['Mazda', '323', 'Small', 7.4, 8.3, 9.1, 29.0, 37.0, 'None', 'Front', '4', 1.6, 82.0, 5000.0, 2370.0, 'Yes', 13.2, 4.0, 164.0, 97.0, 66.0, 34.0, 27.0, 16.0, 2325.0, 'non-USA', 'Mazda 323'], ['Mazda', 'Protege', 'Small', 10.9, 11.6, 12.3, 28.0, 36.0, 'None', 'Front', '4', 1.8, 103.0, 5500.0, 2220.0, 'Yes', 14.5, 5.0, 172.0, 98.0, 66.0, 36.0, 26.5, 13.0, 2440.0, 'non-USA', 'Mazda Protege'], ['Mazda', '626', 'Compact', 14.3, 16.5, 18.7, 26.0, 34.0, 'Driver only', 'Front', '4', 2.5, 164.0, 5600.0, 2505.0, 'Yes', 15.5, 5.0, 184.0, 103.0, 69.0, 40.0, 29.5, 14.0, 2970.0, 'non-USA', 'Mazda 626'], ['Mazda', 'MPV', 'Van', 16.6, 19.1, 21.7, 18.0, 24.0, 'None', '4WD', '6', 3.0, 155.0, 5000.0, 2240.0, 'No', 19.6, 7.0, 190.0, 110.0, 72.0, 39.0, 27.5, nan, 3735.0, 'non-USA', 'Mazda MPV'], ['Mazda', 'RX-7', 'Sporty', 32.5, 32.5, 32.5, 17.0, 25.0, 'Driver only', nan, 'rotary', 1.3, 255.0, 6500.0, 2325.0, 'Yes', 20.0, 2.0, 169.0, 96.0, 69.0, nan, nan, nan, nan, 'non-USA', 'Mazda RX-7'], ['Mercedes-Benz', '190E', 'Compact', 29.0, 31.9, 34.9, nan, 29.0, 'Driver only', 'Rear', '4', 2.3, 130.0, 5100.0, 2425.0, 'Yes', 14.5, 5.0, 175.0, 105.0, 67.0, 34.0, 26.0, 12.0, 2920.0, nan, 'Mercedes-Benz 190E'], ['Mercedes-Benz', '300E', 'Midsize', 43.8, 61.9, 80.0, 19.0, 25.0, 'Driver & Passenger', 'Rear', '6', 3.2, 217.0, 5500.0, 2220.0, 'No', 18.5, 5.0, nan, 110.0, 69.0, 37.0, nan, 15.0, 3525.0, 'non-USA', 'Mercedes-Benz 300E'], ['Mercury', nan, 'Sporty', 13.3, 14.1, 15.0, 23.0, 26.0, 'Driver only', 'Front', '4', 1.6, 100.0, 5750.0, 2475.0, 'Yes', 11.1, 4.0, 166.0, 95.0, 65.0, 36.0, 19.0, 6.0, 2450.0, 'USA', 'Mercury Capri'], ['Mercury', 'Cougar', 'Midsize', 14.9, 14.9, 14.9, 19.0, 26.0, 'None', 'Rear', '6', 3.8, 140.0, 3800.0, 1730.0, 'No', 18.0, 5.0, 199.0, 113.0, 73.0, 38.0, 28.0, 15.0, 3610.0, 'USA', 'Mercury Cougar'], ['Mitsubishi', 'Mirage', 'Small', 7.7, 10.3, 12.9, 29.0, nan, 'None', 'Front', '4', 1.5, 92.0, 6000.0, 2505.0, 'Yes', 13.2, 5.0, 172.0, 98.0, 67.0, 36.0, 26.0, 11.0, 2295.0, 'non-USA', 'Mitsubishi Mirage'], ['Mitsubishi', 'Diamante', 'Midsize', 22.4, 26.1, nan, 18.0, 24.0, 'Driver only', 'Front', '6', 3.0, 202.0, 6000.0, 2210.0, 'No', 19.0, 5.0, 190.0, 107.0, 70.0, 43.0, 27.5, 14.0, 3730.0, 'non-USA', 'Mitsubishi Diamante'], ['Nissan', 'Sentra', 'Small', 8.7, 11.8, 14.9, 29.0, 33.0, 'Driver only', 'Front', nan, 1.6, 110.0, 6000.0, 2435.0, 'Yes', 13.2, 5.0, 170.0, 96.0, 66.0, 33.0, 26.0, nan, nan, 'non-USA', 'Nissan Sentra'], ['Nissan', 'Altima', 'Compact', 13.0, 15.7, 18.3, 24.0, 30.0, 'Driver only', 'Front', '4', 2.4, 150.0, 5600.0, 2130.0, 'Yes', 15.9, 5.0, 181.0, 103.0, 67.0, 40.0, 28.5, 14.0, 3050.0, 'non-USA', 'Nissan Altima'], ['Nissan', 'Quest', 'Van', 16.7, 19.1, 21.5, 17.0, 23.0, 'None', 'Front', '6', 3.0, nan, 4800.0, 2065.0, 'No', 20.0, 7.0, 190.0, 112.0, 74.0, 41.0, 27.0, nan, 4100.0, 'non-USA', 'Nissan Quest'], ['Nissan', 'Maxima', 'Midsize', 21.0, 21.5, 22.0, 21.0, 26.0, 'Driver only', 'Front', '6', 3.0, 160.0, 5200.0, 2045.0, nan, 18.5, 5.0, 188.0, 104.0, 69.0, 41.0, 28.5, 14.0, 3200.0, 'non-USA', 'Nissan Maxima'], ['Oldsmobile', 'Achieva', 'Compact', 13.0, 13.5, 14.0, 24.0, 31.0, 'None', 'Front', '4', 2.3, 155.0, 6000.0, 2380.0, 'No', 15.2, 5.0, 188.0, 103.0, 67.0, 39.0, 28.0, 14.0, 2910.0, 'USA', 'Oldsmobile Achieva'], ['Oldsmobile', 'Cutlass_Ciera', 'Midsize', 14.2, 16.3, 18.4, 23.0, 31.0, 'Driver only', 'Front', '4', 2.2, 110.0, 5200.0, 2565.0, 'No', nan, 5.0, 190.0, 105.0, 70.0, 42.0, 28.0, 16.0, 2890.0, 'USA', 'Oldsmobile Cutlass_Ciera'], ['Oldsmobile', 'Silhouette', 'Van', 19.5, 19.5, 19.5, 18.0, 23.0, 'None', 'Front', '6', 3.8, 170.0, 4800.0, 1690.0, 'No', 20.0, 7.0, nan, 110.0, 74.0, 44.0, 30.5, nan, 3715.0, 'USA', 'Oldsmobile Silhouette'], ['Oldsmobile', 'Eighty-Eight', 'Large', 19.5, 20.7, 21.9, nan, 28.0, 'Driver only', 'Front', '6', 3.8, 170.0, 4800.0, 1570.0, 'No', 18.0, 6.0, 201.0, 111.0, 74.0, 42.0, 31.5, 17.0, 3470.0, 'USA', 'Oldsmobile Eighty-Eight'], ['Plymouth', 'Laser', 'Sporty', 11.4, 14.4, 17.4, nan, 30.0, 'None', '4WD', '4', 1.8, 92.0, 5000.0, 2360.0, 'Yes', 15.9, 4.0, 173.0, 97.0, 67.0, 39.0, 24.5, 8.0, 2640.0, nan, 'Plymouth Laser'], ['Pontiac', 'LeMans', 'Small', nan, 9.0, 9.9, 31.0, 41.0, 'None', 'Front', '4', 1.6, 74.0, 5600.0, 3130.0, 'Yes', 13.2, 4.0, 177.0, 99.0, 66.0, 35.0, 25.5, 17.0, 2350.0, 'USA', 'Pontiac LeMans'], ['Pontiac', 'Sunbird', 'Compact', 9.4, 11.1, 12.8, nan, 31.0, 'None', nan, '4', 2.0, 110.0, 5200.0, 2665.0, 'Yes', 15.2, 5.0, 181.0, 101.0, 66.0, 39.0, 25.0, 13.0, nan, 'USA', nan], ['Pontiac', 'Firebird', nan, 14.0, 17.7, 21.4, 19.0, 28.0, 'Driver & Passenger', 'Rear', '6', nan, 160.0, 4600.0, 1805.0, 'Yes', 15.5, 4.0, 196.0, 101.0, 75.0, 43.0, 25.0, 13.0, 3240.0, 'USA', 'Pontiac Firebird'], ['Pontiac', 'Grand_Prix', 'Midsize', 15.4, 18.5, 21.6, 19.0, 27.0, 'None', 'Front', '6', 3.4, 200.0, 5000.0, 1890.0, 'Yes', 16.5, 5.0, 195.0, 108.0, 72.0, 41.0, 28.5, 16.0, 3450.0, 'USA', 'Pontiac Grand_Prix'], ['Pontiac', 'Bonneville', 'Large', 19.4, 24.4, 29.4, 19.0, 28.0, 'Driver & Passenger', 'Front', '6', 3.8, 170.0, 4800.0, 1565.0, 'No', 18.0, 6.0, 177.0, 111.0, 74.0, 43.0, 30.5, 18.0, 3495.0, 'USA', 'Pontiac Bonneville'], ['Saab', '900', 'Compact', 20.3, 28.7, 37.1, 20.0, 26.0, nan, 'Front', '4', 2.1, 140.0, 6000.0, 2910.0, 'Yes', 18.0, 5.0, nan, 99.0, 67.0, 37.0, 26.5, 14.0, 2775.0, 'non-USA', 'Saab 900'], ['Saturn', 'SL', 'Small', 9.2, nan, 12.9, nan, 38.0, 'Driver only', 'Front', '4', 1.9, 85.0, 5000.0, 2145.0, 'Yes', 12.8, 5.0, 176.0, 102.0, 68.0, 40.0, 26.5, nan, 2495.0, 'USA', 'Saturn SL'], ['Subaru', 'Justy', 'Small', 7.3, 8.4, 9.5, 33.0, 37.0, 'None', '4WD', '3', 1.2, 73.0, 5600.0, 2875.0, 'Yes', 9.2, 4.0, 146.0, 90.0, 60.0, 32.0, 23.5, 10.0, 2045.0, 'non-USA', 'Subaru Justy'], ['Subaru', 'Loyale', 'Small', 10.5, 10.9, 11.3, 25.0, 30.0, 'None', '4WD', '4', 1.8, 90.0, 5200.0, 3375.0, 'Yes', 15.9, 5.0, 175.0, 97.0, 65.0, 35.0, 27.5, 15.0, 2490.0, 'non-USA', 'Subaru Loyale'], ['Subaru', 'Legacy', 'Compact', 16.3, 19.5, 22.7, 23.0, 30.0, 'Driver only', '4WD', '4', 2.2, 130.0, nan, 2330.0, 'Yes', 15.9, 5.0, 179.0, 102.0, 67.0, 37.0, 27.0, 14.0, 3085.0, 'non-USA', 'Subaru Legacy'], ['Suzuki', 'Swift', nan, 7.3, 8.6, nan, 39.0, 43.0, 'None', 'Front', '3', 1.3, 70.0, 6000.0, 3360.0, 'Yes', 10.6, 4.0, 161.0, 93.0, nan, 34.0, 27.5, 10.0, 1965.0, 'non-USA', 'Suzuki Swift'], ['Toyota', 'Tercel', 'Small', nan, 9.8, 11.8, 32.0, 37.0, 'Driver only', 'Front', '4', 1.5, 82.0, 5200.0, 3505.0, 'Yes', 11.9, nan, 162.0, 94.0, nan, 36.0, 24.0, 11.0, 2055.0, 'non-USA', 'Toyota Tercel'], ['Toyota', 'Celica', 'Sporty', 14.2, 18.4, 22.6, 25.0, 32.0, nan, 'Front', '4', 2.2, 135.0, nan, 2405.0, 'Yes', 15.9, 4.0, 174.0, 99.0, 69.0, nan, 23.0, 13.0, 2950.0, 'non-USA', 'Toyota Celica'], ['Toyota', 'Camry', 'Midsize', 15.2, nan, 21.2, 22.0, 29.0, 'Driver only', nan, '4', 2.2, 130.0, 5400.0, 2340.0, nan, 18.5, 5.0, 188.0, 103.0, 70.0, 38.0, 28.5, 15.0, 3030.0, 'non-USA', 'Toyota Camry'], ['Toyota', 'Previa', 'Van', nan, 22.7, 26.6, 18.0, 22.0, 'Driver only', '4WD', '4', 2.4, 138.0, 5000.0, 2515.0, 'Yes', 19.8, 7.0, 187.0, 113.0, 71.0, 41.0, 35.0, nan, 3785.0, 'non-USA', 'Toyota Previa'], ['Volkswagen', 'Fox', 'Small', 8.7, 9.1, 9.5, 25.0, 33.0, 'None', 'Front', '4', 1.8, 81.0, 5500.0, 2550.0, 'Yes', 12.4, 4.0, 163.0, 93.0, 63.0, 34.0, 26.0, 10.0, 2240.0, 'non-USA', 'Volkswagen Fox'], ['Volkswagen', 'Eurovan', 'Van', 16.6, 19.7, 22.7, 17.0, 21.0, 'None', 'Front', '5', 2.5, 109.0, 4500.0, 2915.0, 'Yes', 21.1, 7.0, 187.0, 115.0, 72.0, 38.0, 34.0, nan, 3960.0, nan, 'Volkswagen Eurovan'], ['Volkswagen', 'Passat', 'Compact', 17.6, 20.0, 22.4, 21.0, 30.0, 'None', 'Front', '4', 2.0, 134.0, 5800.0, 2685.0, 'Yes', 18.5, 5.0, 180.0, 103.0, 67.0, 35.0, 31.5, 14.0, 2985.0, 'non-USA', 'Volkswagen Passat'], ['Volkswagen', 'Corrado', 'Sporty', 22.9, 23.3, 23.7, 18.0, 25.0, 'None', 'Front', '6', 2.8, 178.0, 5800.0, 2385.0, 'Yes', 18.5, 4.0, 159.0, 97.0, 66.0, 36.0, 26.0, 15.0, 2810.0, 'non-USA', 'Volkswagen Corrado'], ['Volvo', '240', 'Compact', 21.8, 22.7, 23.5, 21.0, 28.0, 'Driver only', 'Rear', nan, 2.3, 114.0, 5400.0, 2215.0, 'Yes', 15.8, 5.0, 190.0, 104.0, 67.0, 37.0, 29.5, 14.0, 2985.0, 'non-USA', 'Volvo 240'], [nan, '850', 'Midsize', 24.8, 26.7, 28.5, 20.0, 28.0, 'Driver & Passenger', 'Front', '5', 2.4, 168.0, 6200.0, nan, 'Yes', 19.3, 5.0, 184.0, 105.0, 69.0, 38.0, 30.0, 15.0, 3245.0, 'non-USA', 'Volvo 850']]

## Exercise 38
How to extract the row and column number of a cell with a given criterion?
Which manufacturer, model and tpye has the highest price value?

In [12]:
df_cars93 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df_cars93.head())

  Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura  Integra    Small       12.9   15.9       18.8      25.0
1          NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2         Audi       90  Compact       25.9   29.1       32.3      20.0
3         Audi      100  Midsize        NaN   37.7       44.6      19.0
4          BMW     535i  Midsize        NaN   30.0        NaN      22.0

   MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0         31.0                None      Front  ...        5.0   177.0
1         25.0  Driver & Passenger      Front  ...        5.0   195.0
2         26.0         Driver only      Front  ...        5.0   180.0
3         26.0  Driver & Passenger        NaN  ...        6.0   193.0
4         30.0                 NaN       Rear  ...        4.0   186.0

   Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0      102.0   68.0         37.0           26.5           NaN  2705.0
1      115.0   71.0         38.0           30.0          15.0  3560.0
2      102.0   67.0         37.0           28.0          14.0  3375.0
3      106.0    NaN         37.0           31.0          17.0  3405.0
4      109.0   69.0         39.0           27.0          13.0  3640.0

    Origin           Make
0  non-USA  Acura Integra
1  non-USA   Acura Legend
2  non-USA        Audi 90
3  non-USA       Audi 100
4  non-USA       BMW 535i

[5 rows x 27 columns]

In [13]:
# Get Manufacturuer, Model, Type of the most expensive car
df_cars93.loc[df_cars93.Price == np.max(df_cars93.Price), ['Manufacturer', 'Model', 'Type' ]]

     Manufacturer Model     Type
58  Mercedes-Benz  300E  Midsize

In [14]:
# Get the row and column of this car

row, column = np.where(df_cars93.values == np.max(df_cars93.Price) )
print( row, column)

[58] [4]

In [15]:
# Get the price of this car . here we offer solutions 1 an 2
result1 = df_cars93.iat[row[0], column[0]]
result2 = df_cars93.iloc[row[0], column[0]]

In [16]:
result3 = df_cars93.at[row[0], 'Price']
result4 = df_cars93.get_value(row[0], 'Price')

c:\users\d022785\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [17]:
print('result1: ', result1)
print('result2: ', result2)
print('result3: ', result3)
print('result4: ', result4)

result1:  61.9
result2:  61.9
result3:  61.9
result4:  61.9

## Exercise 39
How to rename a specific column in a dataframe

Rename the column 'Type' to 'CarType' and replace the '.' in all column names by '_'

In [18]:
df_cars93 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df_cars93.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [19]:
df_cars93 = df_cars93.rename(columns = {'Type': 'CarTypp'})

In [20]:
print(df_cars93.columns)

Index(['Manufacturer', 'Model', 'CarTypp', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [21]:
df_cars93.columns.values[2] = 'CarType'
print(df_cars93.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [22]:
# Now replace all dots by underlines

df_cars93.columns = df_cars93.columns.map(lambda x: x.replace('.', '_'))
print(df_cars93.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

## Exercise 40
How to check if a dataframe has missing values

In [23]:
df_cars93.isnull().values.any()

True

## Exercise 41
now we want to count the number of empty values in each column

In [24]:
n_missings_each_column = df_cars93.apply(lambda x: x.isnull().sum())
print(n_missings_each_column)
n_missings_each_column.argmax()

Manufacturer           4
Model                  1
CarType                3
Min_Price              7
Price                  2
Max_Price              5
MPG_city               9
MPG_highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev_per_mile           6
Man_trans_avail        5
Fuel_tank_capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn_circle            5
Rear_seat_room         4
Luggage_room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

c:\users\d022785\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  This is separate from the ipykernel package so we can avoid doing imports until

'Luggage_room'

## Exercise 42
Replace empty values with the mean value.
Fill the Min.Price and Max.Price with the mean value

In [25]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out)

    Min.Price  Max.Price
0   12.900000  18.800000
1   29.200000  38.700000
2   25.900000  32.300000
3   17.118605  44.600000
4   17.118605  21.459091
5   14.200000  17.300000
6   19.900000  21.459091
7   22.600000  24.900000
8   26.300000  26.300000
9   33.000000  36.300000
10  37.500000  42.700000
11   8.500000  18.300000
12  11.400000  11.400000
13  13.400000  16.800000
14  13.400000  18.400000
15  14.700000  18.000000
16  14.700000  18.600000
17  18.000000  19.600000
18  34.600000  41.500000
19  18.400000  18.400000
20  14.500000  17.100000
21  29.500000  29.500000
22   7.900000  10.600000
23   8.400000  14.200000
24  11.900000  14.700000
25  17.118605  24.400000
26  14.800000  16.400000
27  18.500000  33.100000
28   7.900000  16.500000
29  17.118605  21.200000
..        ...        ...
63   8.700000  14.900000
64  13.000000  18.300000
65  16.700000  21.500000
66  21.000000  22.000000
67  13.000000  14.000000
68  14.200000  18.400000
69  19.500000  19.500000
70  19.500000  21.900000
71  11.400000  17.400000
72  17.118605   9.900000
73   9.400000  12.800000
74  14.000000  21.400000
75  15.400000  21.600000
76  19.400000  29.400000
77  20.300000  37.100000
78   9.200000  12.900000
79   7.300000   9.500000
80  10.500000  11.300000
81  16.300000  22.700000
82   7.300000  21.459091
83  17.118605  11.800000
84  14.200000  22.600000
85  15.200000  21.200000
86  17.118605  26.600000
87   8.700000   9.500000
88  16.600000  22.700000
89  17.600000  22.400000
90  22.900000  23.700000
91  21.800000  23.500000
92  24.800000  28.500000

[93 rows x 2 columns]

In [26]:
print(df.Price.mean())

19.61648351648352

Comment: for the fields with a '.' in the name the command df.<field_with_dot>.mean() does not work as the dot is interpreted as the end of a field name and then any function is expected. Therefore I will rename those 2 fields

In [27]:
df_new = df.rename(columns = {'Min.Price': 'Min_Price', 'Max.Price': 'Max_Price'})

In [28]:
print(df_new.Min_Price.mean())

17.11860465116279

In [29]:
print(df_new.Max_Price.mean())

21.45909090909091

## Exercise 43
How to use the 'apply' function on existing columns with global variables as additional arguments

In [30]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))
# print(df)
df_new = df.rename(columns = {'Min.Price': 'Min_Price', 'Max.Price': 'Max_Price'})
print(df_new)

   Manufacturer          Model     Type  Min_Price  Price  Max_Price  \
0         Acura        Integra    Small  12.900000   15.9      18.80
1           NaN         Legend  Midsize  29.200000   33.9      38.70
2          Audi             90  Compact  25.900000   29.1      32.30
3          Audi            100  Midsize  17.118605   37.7      44.60
4           BMW           535i  Midsize  17.118605   30.0      19.15
5         Buick        Century  Midsize  14.200000   15.7      17.30
6         Buick        LeSabre    Large  19.900000   20.8      19.15
7         Buick     Roadmaster    Large  22.600000   23.7      24.90
8         Buick        Riviera  Midsize  26.300000   26.3      26.30
9      Cadillac        DeVille    Large  33.000000   34.7      36.30
10     Cadillac        Seville  Midsize  37.500000   40.1      42.70
11    Chevrolet       Cavalier  Compact   8.500000   13.4      18.30
12    Chevrolet        Corsica  Compact  11.400000   11.4      11.40
13    Chevrolet         Camaro   Sporty  13.400000   15.1      16.80
14    Chevrolet         Lumina  Midsize  13.400000   15.9      18.40
15    Chevrolet     Lumina_APV      Van  14.700000   16.3      18.00
16    Chevrolet          Astro      Van  14.700000   16.6      18.60
17    Chevrolet        Caprice    Large  18.000000   18.8      19.60
18    Chevrolet       Corvette   Sporty  34.600000   38.0      41.50
19          NaN       Concorde    Large  18.400000   18.4      18.40
20     Chrysler        LeBaron  Compact  14.500000   15.8      17.10
21     Chrysler       Imperial    Large  29.500000   29.5      29.50
22        Dodge           Colt    Small   7.900000    9.2      10.60
23        Dodge         Shadow    Small   8.400000   11.3      14.20
24        Dodge         Spirit  Compact  11.900000   13.3      14.70
25        Dodge        Caravan      Van  17.118605   19.0      24.40
26        Dodge        Dynasty  Midsize  14.800000   15.6      16.40
27        Dodge        Stealth   Sporty  18.500000   25.8      33.10
28        Eagle         Summit    Small   7.900000   12.2      16.50
29        Eagle         Vision    Large  17.118605   19.3      21.20
..          ...            ...      ...        ...    ...        ...
63       Nissan         Sentra    Small   8.700000   11.8      14.90
64       Nissan         Altima  Compact  13.000000   15.7      18.30
65       Nissan          Quest      Van  16.700000   19.1      21.50
66       Nissan         Maxima  Midsize  21.000000   21.5      22.00
67   Oldsmobile        Achieva  Compact  13.000000   13.5      14.00
68   Oldsmobile  Cutlass_Ciera  Midsize  14.200000   16.3      18.40
69   Oldsmobile     Silhouette      Van  19.500000   19.5      19.50
70   Oldsmobile   Eighty-Eight    Large  19.500000   20.7      21.90
71     Plymouth          Laser   Sporty  11.400000   14.4      17.40
72      Pontiac         LeMans    Small  17.118605    9.0       9.90
73      Pontiac        Sunbird  Compact   9.400000   11.1      12.80
74      Pontiac       Firebird      NaN  14.000000   17.7      21.40
75      Pontiac     Grand_Prix  Midsize  15.400000   18.5      21.60
76      Pontiac     Bonneville    Large  19.400000   24.4      29.40
77         Saab            900  Compact  20.300000   28.7      37.10
78       Saturn             SL    Small   9.200000    NaN      12.90
79       Subaru          Justy    Small   7.300000    8.4       9.50
80       Subaru         Loyale    Small  10.500000   10.9      11.30
81       Subaru         Legacy  Compact  16.300000   19.5      22.70
82       Suzuki          Swift      NaN   7.300000    8.6      19.15
83       Toyota         Tercel    Small  17.118605    9.8      11.80
84       Toyota         Celica   Sporty  14.200000   18.4      22.60
85       Toyota          Camry  Midsize  15.200000    NaN      21.20
86       Toyota         Previa      Van  17.118605   22.7      26.60
87   Volkswagen            Fox    Small   8.700000    9.1       9.50
88   Volkswagen        Eurovan      Van  16.600000   19.7      22.70
89   Volkswagen         Passat  Compact  17.600000   20.0      22.40
90   Volkswagen        Corrado   Sporty  22.900000   23.3      23.70
91        Volvo            240  Compact  21.800000   22.7      23.50
92          NaN            850  Midsize  24.800000   26.7      28.50

    MPG.city  MPG.highway             AirBags DriveTrain  ... Passengers  \
0       25.0         31.0                None      Front  ...        5.0
1       18.0         25.0  Driver & Passenger      Front  ...        5.0
2       20.0         26.0         Driver only      Front  ...        5.0
3       19.0         26.0  Driver & Passenger        NaN  ...        6.0
4       22.0         30.0                 NaN       Rear  ...        4.0
5       22.0         31.0         Driver only        NaN  ...        6.0
6       19.0         28.0         Driver only      Front  ...        6.0
7       16.0         25.0         Driver only       Rear  ...        6.0
8       19.0         27.0         Driver only      Front  ...        5.0
9       16.0         25.0         Driver only      Front  ...        6.0
10      16.0         25.0  Driver & Passenger      Front  ...        5.0
11      25.0         36.0                 NaN        NaN  ...        5.0
12      25.0         34.0         Driver only      Front  ...        5.0
13      19.0         28.0  Driver & Passenger       Rear  ...        4.0
14       NaN         29.0                None      Front  ...        6.0
15      18.0         23.0                None      Front  ...        7.0
16      15.0         20.0                None        4WD  ...        8.0
17      17.0         26.0         Driver only       Rear  ...        6.0
18      17.0         25.0         Driver only       Rear  ...        2.0
19      20.0         28.0  Driver & Passenger      Front  ...        6.0
20      23.0         28.0  Driver & Passenger      Front  ...        6.0
21      20.0         26.0         Driver only      Front  ...        6.0
22      29.0         33.0                None      Front  ...        5.0
23      23.0         29.0         Driver only      Front  ...        5.0
24      22.0         27.0         Driver only      Front  ...        6.0
25      17.0         21.0         Driver only        4WD  ...        7.0
26      21.0          NaN         Driver only      Front  ...        6.0
27       NaN         24.0         Driver only        4WD  ...        4.0
28      29.0         33.0                None      Front  ...        5.0
29      20.0         28.0  Driver & Passenger      Front  ...        6.0
..       ...          ...                 ...        ...  ...        ...
63      29.0         33.0         Driver only      Front  ...        5.0
64      24.0         30.0         Driver only      Front  ...        5.0
65      17.0         23.0                None      Front  ...        7.0
66      21.0         26.0         Driver only      Front  ...        5.0
67      24.0         31.0                None      Front  ...        5.0
68      23.0         31.0         Driver only      Front  ...        5.0
69      18.0         23.0                None      Front  ...        7.0
70       NaN         28.0         Driver only      Front  ...        6.0
71       NaN         30.0                None        4WD  ...        4.0
72      31.0         41.0                None      Front  ...        4.0
73       NaN         31.0                None        NaN  ...        5.0
74      19.0         28.0  Driver & Passenger       Rear  ...        4.0
75      19.0         27.0                None      Front  ...        5.0
76      19.0         28.0  Driver & Passenger      Front  ...        6.0
77      20.0         26.0                 NaN      Front  ...        5.0
78       NaN         38.0         Driver only      Front  ...        5.0
79      33.0         37.0                None        4WD  ...        4.0
80      25.0         30.0                None        4WD  ...        5.0
81      23.0         30.0         Driver only        4WD  ...        5.0
82      39.0         43.0                None      Front  ...        4.0
83      32.0         37.0         Driver only      Front  ...        NaN
84      25.0         32.0                 NaN      Front  ...        4.0
85      22.0         29.0         Driver only        NaN  ...        5.0
86      18.0         22.0         Driver only        4WD  ...        7.0
87      25.0         33.0                None      Front  ...        4.0
88      17.0         21.0                None      Front  ...        7.0
89      21.0         30.0                None      Front  ...        5.0
90      18.0         25.0                None      Front  ...        4.0
91      21.0         28.0         Driver only       Rear  ...        5.0
92      20.0         28.0  Driver & Passenger      Front  ...        5.0

    Length  Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  \
0    177.0      102.0   68.0         37.0           26.5           NaN
1    195.0      115.0   71.0         38.0           30.0          15.0
2    180.0      102.0   67.0         37.0           28.0          14.0
3    193.0      106.0    NaN         37.0           31.0          17.0
4    186.0      109.0   69.0         39.0           27.0          13.0
5    189.0      105.0   69.0         41.0           28.0          16.0
6    200.0      111.0   74.0         42.0           30.5          17.0
7    216.0      116.0   78.0         45.0           30.5          21.0
8    198.0      108.0    NaN         41.0           26.5          14.0
9    206.0      114.0   73.0         43.0           35.0          18.0
10   204.0      111.0   74.0         44.0           31.0           NaN
11   182.0      101.0   66.0         38.0           25.0          13.0
12   184.0      103.0   68.0         39.0           26.0           NaN
13   193.0      101.0   74.0         43.0           25.0          13.0
14     NaN      108.0   71.0          NaN           28.5          16.0
15   178.0      110.0   74.0         44.0           30.5           NaN
16   194.0      111.0   78.0         42.0           33.5           NaN
17   214.0      116.0   77.0         42.0           29.5          20.0
18   179.0       96.0   74.0         43.0            NaN           NaN
19   203.0      113.0   74.0          NaN           31.0          15.0
20   183.0      104.0   68.0         41.0           30.5          14.0
21   203.0      110.0   69.0         44.0           36.0          17.0
22   174.0       98.0   66.0         32.0            NaN          11.0
23   172.0       97.0   67.0         38.0           26.5           NaN
24   181.0      104.0   68.0         39.0           30.5           NaN
25   175.0      112.0   72.0         42.0           26.5           NaN
26   192.0      105.0   69.0         42.0           30.5          16.0
27   180.0       97.0    NaN         40.0           20.0          11.0
28   174.0       98.0   66.0         36.0           26.5          11.0
29   202.0      113.0   74.0         40.0           30.0          15.0
..     ...        ...    ...          ...            ...           ...
63   170.0       96.0   66.0         33.0           26.0           NaN
64   181.0      103.0   67.0         40.0           28.5          14.0
65   190.0      112.0   74.0         41.0           27.0           NaN
66   188.0      104.0   69.0         41.0           28.5          14.0
67   188.0      103.0   67.0         39.0           28.0          14.0
68   190.0      105.0   70.0         42.0           28.0          16.0
69     NaN      110.0   74.0         44.0           30.5           NaN
70   201.0      111.0   74.0         42.0           31.5          17.0
71   173.0       97.0   67.0         39.0           24.5           8.0
72   177.0       99.0   66.0         35.0           25.5          17.0
73   181.0      101.0   66.0         39.0           25.0          13.0
74   196.0      101.0   75.0         43.0           25.0          13.0
75   195.0      108.0   72.0         41.0           28.5          16.0
76   177.0      111.0   74.0         43.0           30.5          18.0
77     NaN       99.0   67.0         37.0           26.5          14.0
78   176.0      102.0   68.0         40.0           26.5           NaN
79   146.0       90.0   60.0         32.0           23.5          10.0
80   175.0       97.0   65.0         35.0           27.5          15.0
81   179.0      102.0   67.0         37.0           27.0          14.0
82   161.0       93.0    NaN         34.0           27.5          10.0
83   162.0       94.0    NaN         36.0           24.0          11.0
84   174.0       99.0   69.0          NaN           23.0          13.0
85   188.0      103.0   70.0         38.0           28.5          15.0
86   187.0      113.0   71.0         41.0           35.0           NaN
87   163.0       93.0   63.0         34.0           26.0          10.0
88   187.0      115.0   72.0         38.0           34.0           NaN
89   180.0      103.0   67.0         35.0           31.5          14.0
90   159.0       97.0   66.0         36.0           26.0          15.0
91   190.0      104.0   67.0         37.0           29.5          14.0
92   184.0      105.0   69.0         38.0           30.0          15.0

    Weight   Origin                      Make
0   2705.0  non-USA             Acura Integra
1   3560.0  non-USA              Acura Legend
2   3375.0  non-USA                   Audi 90
3   3405.0  non-USA                  Audi 100
4   3640.0  non-USA                  BMW 535i
5      NaN      USA             Buick Century
6   3470.0      USA             Buick LeSabre
7   4105.0      USA          Buick Roadmaster
8   3495.0      USA             Buick Riviera
9   3620.0      USA          Cadillac DeVille
10  3935.0      USA          Cadillac Seville
11  2490.0      USA        Chevrolet Cavalier
12  2785.0      USA         Chevrolet Corsica
13  3240.0      USA          Chevrolet Camaro
14  3195.0      USA          Chevrolet Lumina
15  3715.0      USA      Chevrolet Lumina_APV
16  4025.0      USA           Chevrolet Astro
17  3910.0      USA         Chevrolet Caprice
18  3380.0      NaN        Chevrolet Corvette
19  3515.0      USA         Chrylser Concorde
20  3085.0      USA          Chrysler LeBaron
21  3570.0      USA         Chrysler Imperial
22  2270.0      USA                Dodge Colt
23  2670.0      USA              Dodge Shadow
24  2970.0      USA              Dodge Spirit
25  3705.0      USA             Dodge Caravan
26  3080.0      USA             Dodge Dynasty
27  3805.0      USA             Dodge Stealth
28  2295.0      USA              Eagle Summit
29  3490.0      USA              Eagle Vision
..     ...      ...                       ...
63     NaN  non-USA             Nissan Sentra
64  3050.0  non-USA             Nissan Altima
65  4100.0  non-USA              Nissan Quest
66  3200.0  non-USA             Nissan Maxima
67  2910.0      USA        Oldsmobile Achieva
68  2890.0      USA  Oldsmobile Cutlass_Ciera
69  3715.0      USA     Oldsmobile Silhouette
70  3470.0      USA   Oldsmobile Eighty-Eight
71  2640.0      NaN            Plymouth Laser
72  2350.0      USA            Pontiac LeMans
73     NaN      USA                       NaN
74  3240.0      USA          Pontiac Firebird
75  3450.0      USA        Pontiac Grand_Prix
76  3495.0      USA        Pontiac Bonneville
77  2775.0  non-USA                  Saab 900
78  2495.0      USA                 Saturn SL
79  2045.0  non-USA              Subaru Justy
80  2490.0  non-USA             Subaru Loyale
81  3085.0  non-USA             Subaru Legacy
82  1965.0  non-USA              Suzuki Swift
83  2055.0  non-USA             Toyota Tercel
84  2950.0  non-USA             Toyota Celica
85  3030.0  non-USA              Toyota Camry
86  3785.0  non-USA             Toyota Previa
87  2240.0  non-USA            Volkswagen Fox
88  3960.0      NaN        Volkswagen Eurovan
89  2985.0  non-USA         Volkswagen Passat
90  2810.0  non-USA        Volkswagen Corrado
91  2985.0  non-USA                 Volvo 240
92  3245.0  non-USA                 Volvo 850

[93 rows x 27 columns]

In [31]:
print(np.nanmean, np.nanmedian)

<function nanmean at 0x0000020E89FB6730> <function nanmedian at 0x0000020E89FB69D8>

In [32]:
df_new.Min_Price.mean()

17.11860465116279

In [33]:
df_new.Max_Price.median()

19.15

In [34]:
df_new.Max_Price.mean()

21.33494623655914

## Exercise 44
How to select a specificcolumn from a dataframe as a dataframe instead of a series.
Get the first column (a) in df as a dataframe (rather than the series)

In [35]:
df_44 = pd.DataFrame(np.arange(30).reshape(-1, 5), columns = list('abcde'))
print(df_44)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29

In [36]:
print(type(df_44.a))
print(type(df_44['a']))
print(df_44['a'])

# 2 Anotationen

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
0     0
1     5
2    10
3    15
4    20
5    25
Name: a, dtype: int32

In [37]:
print(type(df_44.loc[:, ['a']]))
print(df_44.loc[:, ['a']])

<class 'pandas.core.frame.DataFrame'>
    a
0   0
1   5
2  10
3  15
4  20
5  25

In [38]:
print(type(df_44.iloc[:, [0]]))
df_44.iloc[:, [0]]

<class 'pandas.core.frame.DataFrame'>

    a
0   0
1   5
2  10
3  15
4  20
5  25

In [39]:
# Alternately the following returns a Series
print(type(df_44.a))
print(type(df_44['a']))
print(type(df_44.loc[:, 'a']))
print(type(df_44.iloc[:, 1]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [40]:
# Alternately the following returns a Series
print(df_44.a)
print(df_44['a'])
print(df_44.loc[:, 'a'])
print(df_44.iloc[:, 1])

0     0
1     5
2    10
3    15
4    20
5    25
Name: a, dtype: int32
0     0
1     5
2    10
3    15
4    20
5    25
Name: a, dtype: int32
0     0
1     5
2    10
3    15
4    20
5    25
Name: a, dtype: int32
0     1
1     6
2    11
3    16
4    21
5    26
Name: b, dtype: int32

## Exercise 45
How to change the order of columns within a DataFrame
1.) Change columns a and c 
2.) Create generic function to interchange 2 columns without hardcoding the column names
3.) Sort the columns in reverse alphabetical order meaning 'e' first and 'a' the last

In [41]:
df_45 = pd.DataFrame(np.arange(40).reshape(-1, 5), columns=list('abcde'))
print(df_45)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29
6  30  31  32  33  34
7  35  36  37  38  39

In [42]:
df_45[list('cbade')]

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19
4  22  21  20  23  24
5  27  26  25  28  29
6  32  31  30  33  34
7  37  36  35  38  39

In [43]:
df_45 = pd.DataFrame(np.arange(40).reshape(-1, 5), columns=list('abcde'))

def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df_45a = switch_columns(df_45, 'a', 'c')
print(df_45a)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19
4  22  21  20  23  24
5  27  26  25  28  29
6  32  31  30  33  34
7  37  36  35  38  39

In [44]:
df_45_sorted = df_45[sorted(df_45.columns)]
print(df_45_sorted)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29
6  30  31  32  33  34
7  35  36  37  38  39

In [45]:
df_45_sorted2 = df_45.sort_index(axis=1, ascending = False, inplace=False)

In [47]:
print(df_45)
print(df_45_sorted2)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29
6  30  31  32  33  34
7  35  36  37  38  39
    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15
4  24  23  22  21  20
5  29  28  27  26  25
6  34  33  32  31  30
7  39  38  37  36  35

## Exercise 46
How to set the number of rows and columns displayed in the output?
Show at max 10 rows and 10 columns

In [48]:
df_46 = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv")

In [51]:
# Solution
pd.set_option('display.max_columns', 14)
pd.set_option('display.max_rows', 8)
# df

# Show all available options
# pd.describe_option()

df_46

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,...,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,...,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,...,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,...,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,...,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,...,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,...,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,...,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,...,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

## Exercise 47

How to format or suppress scientific notations in a pandas dataframe?
suppress scientific notations like e-03 in df and print upto 4 numbers after decimal.

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df
#>          random
#> 0  3.474280e-03
#> 1  3.951517e-05
#> 2  7.469702e-02
#> 3  5.541282e-28

Desired Output

#>    random
#> 0  0.0035
#> 1  0.0000
#> 2  0.0747
#> 3  0.0000

In [52]:
df_47 = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df_47

         random
0  3.716159e-02
1  2.093805e-21
2  1.106730e-01
3  4.607573e-01

In [53]:
# Solution 1: Rounding
df_47.round(4)

   random
0  0.0372
1  0.0000
2  0.1107
3  0.4608

In [56]:
# Solution 2: Use apply to change format
df_47.apply(lambda x: '%.4f' % x, axis=1)
# or
df_47.applymap(lambda x: '%.4f' % x)

   random
0  0.0372
1  0.0000
2  0.1107
3  0.4608

In [57]:
# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)
df_47

   random
0  0.0372
1  0.0000
2  0.1107
3  0.4608

In [59]:
# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df_47)

# Reset/undo float formatting
pd.options.display.float_format = None

   random
0  0.0372
1  0.0000
2  0.1107
3  0.4608

## Exercise 48 

How to format all the values in a dataframe as percentages?

Difficulty Level: L2

Format the values in column 'random' of df as percentages.

Input

df = pd.DataFrame(np.random.random(4), columns=['random'])

In [61]:
df_48 = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution
out = df_48.style.format({
    'random': '{0:.2%}'.format,
})

out

## Exercise 49

How to filter every nth row in a dataframe?

Difficulty Level: L1

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [62]:
df_49 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
print(df_49.iloc[2::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer     Model     Type
2          Audi        90  Compact
22        Dodge      Colt    Small
42        Honda    Accord  Compact
62   Mitsubishi  Diamante  Midsize
82       Suzuki     Swift      NaN

## Exercise 50

How to create a primary key index by combining relevant columns?

Difficulty Level: L2

In df, Replace NaNs with missing in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

In [63]:
df_50 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

df_50[['Manufacturer', 'Model', 'Type']] = df_50[['Manufacturer', 'Model', 'Type']].fillna('missing')
df_50.index = df_50.Manufacturer + '_' + df_50.Model + '_' + df_50.Type
print(df_50.index.is_unique)
print(df_50)

True
                          Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small              Acura  Integra    Small       12.9       18.8
missing_Legend_Midsize         missing   Legend  Midsize       29.2       38.7
Audi_90_Compact                   Audi       90  Compact       25.9       32.3
Audi_100_Midsize                  Audi      100  Midsize        NaN       44.6
...                                ...      ...      ...        ...        ...
Volkswagen_Passat_Compact   Volkswagen   Passat  Compact       17.6       22.4
Volkswagen_Corrado_Sporty   Volkswagen  Corrado   Sporty       22.9       23.7
Volvo_240_Compact                Volvo      240  Compact       21.8       23.5
missing_850_Midsize            missing      850  Midsize       24.8       28.5

[93 rows x 5 columns]