In [ ]:
import pandas as pd

In [ ]:
data = {
    "country" : ["DE", "FR", "GB", "DE", "SP", "GB", "DE", "US"  ],
    "cities": ["Hamburg", "Metz", "London", "Koeln", "Barcelona", "Liverpool", "Wien", "New York"],
    "inhabitants": [3000, 200, 7000, 1000, 2000, 500, 3000, 9000]
}
df_cities = pd.DataFrame(data)

geoloc = {
    "country": ["DE", "SP", "FR", "GB"],
    "longitude": [ 1, 2, 4, 6],
    "latitude": [7, 8, 10, 11]
}

df_geoloc = pd.DataFrame(geoloc)

print(df_cities)
print(df_geoloc)

  country     cities  inhabitants
0      DE    Hamburg         3000
1      FR       Metz          200
2      GB     London         7000
3      DE      Koeln         1000
4      SP  Barcelona         2000
5      GB  Liverpool          500
6      DE       Wien         3000
7      US   New York         9000
  country  longitude  latitude
0      DE          1         7
1      SP          2         8
2      FR          4        10
3      GB          6        11

In [ ]:
df_new = pd.merge(df_cities, df_geoloc, on="country", how="left")
df_new

  country     cities  inhabitants  longitude  latitude
0      DE    Hamburg         3000        1.0       7.0
1      FR       Metz          200        4.0      10.0
2      GB     London         7000        6.0      11.0
3      DE      Koeln         1000        1.0       7.0
4      SP  Barcelona         2000        2.0       8.0
5      GB  Liverpool          500        6.0      11.0
6      DE       Wien         3000        1.0       7.0
7      US   New York         9000        NaN       NaN

In [ ]:
df_cities["longitude"] = df_geoloc.loc[df_geoloc.country == "DE", "longitude"]
df_cities["latitude"] = df_geoloc.loc[df_geoloc.country == "DE", "latitude"]
df_cities

  country     cities  inhabitants  longitude  latitude
0      DE    Hamburg         3000        1.0       7.0
1      FR       Metz          200        NaN       NaN
2      GB     London         7000        NaN       NaN
3      DE      Koeln         1000        NaN       NaN
4      SP  Barcelona         2000        NaN       NaN
5      GB  Liverpool          500        NaN       NaN
6      DE       Wien         3000        NaN       NaN
7      US   New York         9000        NaN       NaN

In [ ]:

result = df_cities.aggregate("inhabitants")
result

0    3000
1     200
2    7000
3    1000
4    2000
5     500
6    3000
7    9000
Name: inhabitants, dtype: int64

In [ ]:
search = "DE"
df_cities.loc[df_cities.isin([search]).any(axis=1)].index #.tolist()

Int64Index([0, 3, 6], dtype='int64')

In [ ]:
search = "DE"
df_cities.loc[df_cities.isin([search]).any(axis=1)].index.tolist()

[0, 3, 6]

In [ ]:
search = "DE"
result = df_cities.loc[df_cities.isin([search]).any(axis=1)]
result

  country   cities  inhabitants  longitude  latitude
0      DE  Hamburg         3000        1.0       7.0
3      DE    Koeln         1000        NaN       NaN
6      DE     Wien         3000        NaN       NaN

In [ ]:
type(result)

pandas.core.frame.DataFrame