### Rapid Overview
- build intuition about pandas
- details later

documentation: http://pandas.pydata.org/pandas-docs/stable/10min.html

In [2]:
import pandas as pd
import numpy as np

##### Basic series; default integer index
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

In [3]:
my_series = pd.Series([1,3,5,np.nan,6,8])
my_series

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

##### datetime index
documentation: http://pandas.pydata.org/pandas-docs/stable/timeseries.html

In [4]:
my_dates_index = pd.date_range('20160101', periods=6)
my_dates_index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

##### sample NumPy data

In [5]:
sample_numpy_data = np.array(np.arange(24)).reshape((6,4))
sample_numpy_data

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

##### sample data frame, with column headers; uses our dates_index
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [6]:
sample_df = pd.DataFrame(sample_numpy_data, index=my_dates_index, columns=list('ABCD'))
sample_df

             A   B   C   D
2016-01-01   0   1   2   3
2016-01-02   4   5   6   7
2016-01-03   8   9  10  11
2016-01-04  12  13  14  15
2016-01-05  16  17  18  19
2016-01-06  20  21  22  23

##### data frame from a Python dictionary

In [7]:
df_from_dictionary = pd.DataFrame({ 
                         'float' : 1.,
                         'time' : pd.Timestamp('20160825'),
                         'series' : pd.Series(1,index=list(range(4)),dtype='float32'),
                         'array' : np.array([3] * 4,dtype='int32'),
                         'categories' : pd.Categorical(["test","train","taxes","tools"]),
                         'dull' : 'boring data' 
                      })
df_from_dictionary

   array categories         dull  float  series       time
0      3       test  boring data    1.0     1.0 2016-08-25
1      3      train  boring data    1.0     1.0 2016-08-25
2      3      taxes  boring data    1.0     1.0 2016-08-25
3      3      tools  boring data    1.0     1.0 2016-08-25

##### pandas retains data type for each column

In [9]:
df_from_dictionary.dtypes

array                  int32
categories          category
dull                  object
float                float64
series               float32
time          datetime64[ns]
dtype: object

##### head and tail; default is 5 rows

In [10]:
sample_df.head()

             A   B   C   D
2016-01-01   0   1   2   3
2016-01-02   4   5   6   7
2016-01-03   8   9  10  11
2016-01-04  12  13  14  15
2016-01-05  16  17  18  19

In [11]:
sample_df.tail(2)

             A   B   C   D
2016-01-05  16  17  18  19
2016-01-06  20  21  22  23

##### underlying data: values, index and columns

In [12]:
sample_df.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [13]:
sample_df.index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
sample_df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

##### describe(): a quick statistical summary
- notice: integer data summarized with floating point numbers

In [15]:
sample_df.describe()

               A          B          C          D
count   6.000000   6.000000   6.000000   6.000000
mean   10.000000  11.000000  12.000000  13.000000
std     7.483315   7.483315   7.483315   7.483315
min     0.000000   1.000000   2.000000   3.000000
25%     5.000000   6.000000   7.000000   8.000000
50%    10.000000  11.000000  12.000000  13.000000
75%    15.000000  16.000000  17.000000  18.000000
max    20.000000  21.000000  22.000000  23.000000

##### control precision of floating point numbers
for options and settings, please see: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.set_option.html

In [16]:
pd.set_option('display.precision', 2)

In [18]:
sample_df.describe()

           A      B      C      D
count   6.00   6.00   6.00   6.00
mean   10.00  11.00  12.00  13.00
std     7.48   7.48   7.48   7.48
min     0.00   1.00   2.00   3.00
25%     5.00   6.00   7.00   8.00
50%    10.00  11.00  12.00  13.00
75%    15.00  16.00  17.00  18.00
max    20.00  21.00  22.00  23.00

##### transpose rows and columns

In [19]:
sample_df.T

   2016-01-01  2016-01-02  2016-01-03  2016-01-04  2016-01-05  2016-01-06
A           0           4           8          12          16          20
B           1           5           9          13          17          21
C           2           6          10          14          18          22
D           3           7          11          15          19          23

##### sort by axis

In [20]:
sample_df.sort_index(axis=1, ascending=False)

             D   C   B   A
2016-01-01   3   2   1   0
2016-01-02   7   6   5   4
2016-01-03  11  10   9   8
2016-01-04  15  14  13  12
2016-01-05  19  18  17  16
2016-01-06  23  22  21  20

##### sort by data within a column (our data was already sorted)

In [21]:
sample_df.sort_values(by='B', ascending=False)

             A   B   C   D
2016-01-06  20  21  22  23
2016-01-05  16  17  18  19
2016-01-04  12  13  14  15
2016-01-03   8   9  10  11
2016-01-02   4   5   6   7
2016-01-01   0   1   2   3