### NumPy Universal Functions

If the data within a DataFrame are numeric, NumPy's universal functions can be used on/with the DataFrame.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
sum_df = df + df2
sum_df

          A         B         C   D
0  1.422177 -1.981463 -1.644890 NaN
1 -0.735522  0.594277 -1.723796 NaN
2  1.051754  0.916014 -0.434275 NaN
3  1.100870 -0.386768 -0.748358 NaN
4 -0.868177 -1.741860 -0.393515 NaN
5 -0.908557  0.298707  2.286562 NaN
6  0.240977 -1.831930 -2.516799 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

##### NaN are handled correctly by universal function

In [3]:
np.exp(sum_df)

          A         B         C   D
0  4.146137  0.137867  0.193034 NaN
1  0.479255  1.811721  0.178388 NaN
2  2.862667  2.499308  0.647734 NaN
3  3.006780  0.679248  0.473143 NaN
4  0.419716  0.175194  0.674681 NaN
5  0.403106  1.348115  9.841044 NaN
6  1.272492  0.160104  0.080718 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

##### Transpose availabe T attribute

In [4]:
sum_df.T

,0,1,2,3,4,5,6,7,8,9
A,1.422177,-0.735522,1.051754,1.100870,-0.868177,-0.908557,0.240977,NaN,NaN,NaN
B,-1.981463,0.594277,0.916014,-0.386768,-1.741860,0.298707,-1.831930,NaN,NaN,NaN
C,-1.644890,-1.723796,-0.434275,-0.748358,-0.393515,2.286562,-2.516799,NaN,NaN,NaN
D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
np.transpose(sum_df.values)

array([[ 1.42217715, -0.73552228,  1.05175388,  1.1008698 , -0.86817745,
        -0.90855652,  0.24097732,         nan,         nan,         nan],
       [-1.9814625 ,  0.59427732,  0.91601383, -0.38676848, -1.74185979,
         0.29870699, -1.83192973,         nan,         nan,         nan],
       [-1.64488976, -1.72379583, -0.43427497, -0.74835786, -0.39351458,
         2.2865618 , -2.51679944,         nan,         nan,         nan],
       [        nan,         nan,         nan,         nan,         nan,
                nan,         nan,         nan,         nan,         nan]])

##### dot method on DataFrame implements matrix multiplication
Note: row and column headers

In [6]:
A_df = pd.DataFrame(np.arange(15).reshape((3,5)))
B_df = pd.DataFrame(np.arange(10).reshape((5,2)))
A_df.dot(B_df)

     0    1
0   60   70
1  160  195
2  260  320

##### dot method on Series implements dot product

In [7]:
C_Series = pd.Series(np.arange(5,10))
C_Series.dot(C_Series)

255