### Select, Add, Delete, Columns

In [1]:
import pandas as pd
import numpy as np

### dictionary like operations
##### dictionary selection with string index

In [2]:
cookbook_df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
cookbook_df['BBB']

0    10
1    20
2    30
3    40
Name: BBB, dtype: int64

##### arithmetic vectorized operation using string indices

In [3]:
cookbook_df['BBB'] * cookbook_df['CCC']

0    1000
1    1000
2    -900
3   -2000
dtype: int64

##### column deletion

In [4]:
del cookbook_df['BBB']
cookbook_df

   AAA  CCC
0    4  100
1    5   50
2    6  -30
3    7  -50

In [5]:
last_column = cookbook_df.pop('CCC')
last_column

0    100
1     50
2    -30
3    -50
Name: CCC, dtype: int64

In [6]:
cookbook_df

   AAA
0    4
1    5
2    6
3    7

##### add a new column using a Python list

In [7]:
cookbook_df['DDD'] = [32, 21, 43, 'hike']
cookbook_df

   AAA   DDD
0    4    32
1    5    21
2    6    43
3    7  hike

##### insert function
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.insert.html

In [8]:
cookbook_df.insert(1, "new column", [3,4,5,6])
cookbook_df

   AAA  new column   DDD
0    4           3    32
1    5           4    21
2    6           5    43
3    7           6  hike